@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300italic");
.preloader {
  position: absolute;
  left: -9999px;
  top: -999px;
}

.preloader img {
  display: block;
}

html {
  background-color: #3a4a3f;
}

header a {
  color: white;
  opacity: 0.75;
}

main {
  background-color: white;
  color: #3a4a3f;
}

h1, h2, h3, h4, h5, h6 {
  color: seagreen;
}

aside {
  color: seagreen;
}

nav {
  background-color: rgba(255, 255, 255, 0.2);
}

nav li:hover {
  background-color: rgba(117, 170, 94, 0.1);
}

nav a {
  color: #e8eddc;
}

nav a:hover {
  color: white;
}

#home .home, #sorts .sorts, #prep .prep {
  background-color: white;
}

#home .home a, #sorts .sorts a, #prep .prep a {
  color: seagreen;
}

footer .about {
  background-color: #3a4a3f;
}

footer .about a {
  color: #9db0a3;
}

footer .about a:hover {
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .copyright {
  color: rgba(157, 176, 163, 0.75);
}

footer .copyright a {
  color: rgba(157, 176, 163, 0.75);
}

footer .copyright a:hover {
  color: rgba(232, 237, 220, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
}

/* font sizes */
:root {
  font-size: 16px;
}

header {
  font-size: 2.5rem;
}

h1 {
  font-size: 2rem;
}

nav {
  font-size: 1rem;
}

@media (min-width: 680px) {
  header {
    font-size: 3.5rem;
  }
}

nav {
  font-size: 1.1rem;
}

@media (min-width: 960px) {
  header {
    font-size: 4rem;
  }
  nav {
    font-size: 1.2rem;
  }
}

/* font styling */
header {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
}

nav {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

nav li {
  text-align: center;
}

nav a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

p {
  font-family: "Merriweather", serif;
}

table {
  font-family: "Source Sans Pro";
}

aside {
  text-align: center;
  font-style: italic;
}

footer {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

footer a {
  text-decoration: none;
}

html {
  background-color: #3a4a3f;
}

header a {
  color: white;
  opacity: 0.75;
}

main {
  background-color: white;
  color: #3a4a3f;
}

h1, h2, h3, h4, h5, h6 {
  color: seagreen;
}

aside {
  color: seagreen;
}

nav {
  background-color: rgba(255, 255, 255, 0.2);
}

nav li:hover {
  background-color: rgba(117, 170, 94, 0.1);
}

nav a {
  color: #e8eddc;
}

nav a:hover {
  color: white;
}

#home .home, #sorts .sorts, #prep .prep {
  background-color: white;
}

#home .home a, #sorts .sorts a, #prep .prep a {
  color: seagreen;
}

footer .about {
  background-color: #3a4a3f;
}

footer .about a {
  color: #9db0a3;
}

footer .about a:hover {
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .copyright {
  color: rgba(157, 176, 163, 0.75);
}

footer .copyright a {
  color: rgba(157, 176, 163, 0.75);
}

footer .copyright a:hover {
  color: rgba(232, 237, 220, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
}

body {
  margin: auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

header, nav, main, footer {
  margin: 0 auto;
  max-width: 100%;
  width: 960px;
}

html {
  background-color: #3a4a3f;
}

header a {
  color: white;
  opacity: 0.75;
}

main {
  background-color: white;
  color: #3a4a3f;
}

h1, h2, h3, h4, h5, h6 {
  color: seagreen;
}

aside {
  color: seagreen;
}

nav {
  background-color: rgba(255, 255, 255, 0.2);
}

nav li:hover {
  background-color: rgba(117, 170, 94, 0.1);
}

nav a {
  color: #e8eddc;
}

nav a:hover {
  color: white;
}

#home .home, #sorts .sorts, #prep .prep {
  background-color: white;
}

#home .home a, #sorts .sorts a, #prep .prep a {
  color: seagreen;
}

footer .about {
  background-color: #3a4a3f;
}

footer .about a {
  color: #9db0a3;
}

footer .about a:hover {
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .copyright {
  color: rgba(157, 176, 163, 0.75);
}

footer .copyright a {
  color: rgba(157, 176, 163, 0.75);
}

footer .copyright a:hover {
  color: rgba(232, 237, 220, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
}

header {
  width: 100%;
  height: 180px;
  padding-bottom: 25px;
  display: -ms-grid;
  display: grid;
  place-items: end center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .padding {
  width: 100%;
  border-bottom: 3px solid seagreen;
}

nav ul {
  max-width: 100%;
  padding: 0px;
  margin: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
  border-bottom: 3px solid seagreen;
}

#home .home, #sorts .sorts, #prep .prep {
  padding-top: 13px;
  border-top: 3px solid seagreen;
  border-bottom: 3px solid transparent;
}

html {
  background-color: #3a4a3f;
}

header a {
  color: white;
  opacity: 0.75;
}

main {
  background-color: white;
  color: #3a4a3f;
}

h1, h2, h3, h4, h5, h6 {
  color: seagreen;
}

aside {
  color: seagreen;
}

nav {
  background-color: rgba(255, 255, 255, 0.2);
}

nav li:hover {
  background-color: rgba(117, 170, 94, 0.1);
}

nav a {
  color: #e8eddc;
}

nav a:hover {
  color: white;
}

#home .home, #sorts .sorts, #prep .prep {
  background-color: white;
}

#home .home a, #sorts .sorts a, #prep .prep a {
  color: seagreen;
}

footer .about {
  background-color: #3a4a3f;
}

footer .about a {
  color: #9db0a3;
}

footer .about a:hover {
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .copyright {
  color: rgba(157, 176, 163, 0.75);
}

footer .copyright a {
  color: rgba(157, 176, 163, 0.75);
}

footer .copyright a:hover {
  color: rgba(232, 237, 220, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
}

main {
  max-width: 100%;
}

main a {
  color: seagreen;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

article {
  margin: auto;
  padding: 32px;
}

article section {
  max-width: 100%;
}

aside {
  border-width: 1px;
  border-style: solid none solid none;
  -o-border-image: linear-gradient(to right, rgba(0, 0, 0, 0), seagreen, rgba(0, 0, 0, 0)) 1 5%;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(seagreen), to(rgba(0, 0, 0, 0))) 1 5%;
     border-image: linear-gradient(to right, rgba(0, 0, 0, 0), seagreen, rgba(0, 0, 0, 0)) 1 5%;
}

aside table {
  margin: 0 auto;
  text-align: center;
}

aside td:first-child {
  text-align: right;
}

@media screen and (min-width: 720px) {
  article {
    padding: 32px 64px;
  }
}

@media screen and (min-width: 800px) {
  article {
    padding: 32px 128px;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer .about {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer .copyright {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright ul {
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copyright li {
  padding-right: 5px;
  padding-left: 5px;
}
/*# sourceMappingURL=styles.css.map */