/* 
  *****************************
  **      GLOBAL STYLES      **
  *****************************
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300italic");
*, *::before, *::after {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
}

/* 
  *****************************
  **       TYPOGRAPHY        **
  *****************************
*/
/* ***** FONT STYLE ***** */
header a {
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

p {
  font-family: "Merriweather", serif;
}

article a:hover {
  text-decoration: underline;
}

figcaption,
aside {
  text-align: center;
}

footer {
  font-family: "Source Sans Pro", sans-serif;
}

.footer-logo {
  font-weight: bold;
}

/* ***** FONT SIZE ***** */
:root {
  font-size: clamp(13px, 5vw, 16px);
  line-height: 1.6;
}

header a {
  font-size: clamp(30px, 10vw, 82px);
  line-height: 1;
}

nav {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  line-height: 2;
}

h1 {
  font-size: clamp(1.8rem, 8vw, 3rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.8rem, 6vw, 2.5rem);
  line-height: 1.0;
}

p {
  font-size: 1rem;
  line-height: clamp(1, 8vw, 1.25);
}

figcaption,
aside {
  font-size: 0.9rem;
  line-height: 1.4;
}

.stock-table {
  font-size: 1rem;
  line-height: 1.6;
}

.stock-table th {
  font-size: 1.1rem;
}

.footer-logo {
  font-size: clamp(1.5rem, 6vw, 2rem);
  line-height: 1.0;
}

.footer-nav {
  font-size: 1.1rem;
  line-height: 1.6;
}

.footer-legal {
  font-size: 1rem;
}

/* 
  *****************************
  **          COLOR          **
  *****************************
*/
body {
  background: seagreen url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

header a {
  opacity: 0.7;
  color: white;
}

header a:hover {
  opacity: 0.8;
}

nav {
  background: rgba(255, 255, 255, 0.6);
}

nav a {
  color: rgba(255, 255, 255, 0.8);
}

nav a:hover {
  color: white;
}

#home a.home, #sorts a.sorts, #prep a.prep {
  color: seagreen;
  background: white;
}

main {
  background: white;
}

main a, main h1, main h2, main h3, main h4, main h5, main h6 {
  color: seagreen;
}

main figcaption, main aside {
  opacity: 0.8;
}

.footer-wrapper {
  background: #3a4a3f;
}

.footer-wrapper a {
  color: #9db0a3;
}

.footer-wrapper a:hover {
  color: #e8eddc;
}

.footer-legal {
  color: rgba(157, 176, 163, 0.8);
}

.footer-legal a {
  color: rgba(157, 176, 163, 0.8);
}

.footer-legal a:hover {
  color: rgba(232, 237, 220, 0.8);
}

/* 
  *****************************
  **          LAYOUT         **
  *****************************
*/
/* *****  STRUCTURE ***** */
body {
  margin: 0 auto;
  width: calc(min(100%, 800px));
}

header {
  position: relative;
  height: clamp(180px, 50vw, 260px);
  text-align: center;
}

header a {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 0 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(min(25%, 180px));
          flex: 0 0 calc(min(25%, 180px));
  border-bottom: 3px solid seagreen;
}

nav:before,
nav:after {
  content: '';
  width: 100%;
  border-bottom: 3px solid seagreen;
}

#home a.home, #sorts a.sorts, #prep a.prep {
  border-top: 3px solid seagreen;
  border-bottom: 3px solid transparent;
}

.footer-wrapper {
  padding: 32px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  max-width: 10ch;
  text-align: left;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10%;
}

.footer-nav a {
  padding: 0 12px;
}

@media (min-width: 620px) {
  .footer-wrapper {
    padding: 40px 10%;
  }
  .footer-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-legal {
  margin: auto;
  padding: 24px;
  text-align: center;
}

/* ***** COMPONENTS ***** */
article {
  padding: 24px 0;
}

article p, article h1, article h2, article h3, article h4, article h5, article h6 {
  margin: 0 auto;
  padding: 12px 10%;
  max-width: 80ch;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

figure img {
  width: clamp(600px, 90%, 680px);
}

figure figcaption {
  margin: 0 auto;
  padding: 12px 0;
  width: calc(min(85%, 660px));
  text-align: center;
}

aside {
  border-width: 1px;
  border-style: solid none solid none;
  -o-border-image: linear-gradient(to right, rgba(0, 0, 0, 0), seagreen, rgba(0, 0, 0, 0)) 1 5%;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(seagreen), to(rgba(0, 0, 0, 0))) 1 5%;
     border-image: linear-gradient(to right, rgba(0, 0, 0, 0), seagreen, rgba(0, 0, 0, 0)) 1 5%;
}

.stock-table {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  width: 80%;
}

.stock-table th {
  color: white;
  background-color: #3a4a3f;
}

.stock-table tr {
  background-color: #e8eddc;
  opacity: 0.7;
}

.stock-table tr:first-child {
  opacity: 1;
}

.stock-table tr:hover {
  background: #e8eddc;
  opacity: 1;
}

.stock-table td,
.stock-table th {
  padding: 4px;
}

.stock-table td:first-child,
.stock-table th:first-child {
  text-align: left;
  padding-left: 5%;
}
/*# sourceMappingURL=style.css.map */