@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
html {
  background-color: #002700;
}

.bg {
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  margin: auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

header, nav, main, footer {
  max-width: 100%;
  width: 720px;
  margin: auto;
}

header {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

header h1 {
  width: 100%;
  margin-bottom: 25px;
  font-size: 38px;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  header h1 {
    font-size: 48px;
  }
}

header a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

nav, footer {
  background-color: seagreen;
}

nav a, footer a {
  color: #e9ece3;
  text-decoration: none;
}

nav a:hover, footer a:hover {
  color: white;
}

#home .home, #sorts .sorts, #prep .prep {
  padding-top: 13px;
  border-top: 2px solid white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul {
  padding: 0px;
  margin: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
  text-align: center;
  font-weight: 500;
  border-top: 2px solid transparent;
}

nav li:hover {
  border-top: 2px solid white;
  -webkit-transition: border-top 1s;
  transition: border-top 1s;
}

footer {
  height: 50px;
  margin-top: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer a:hover {
  border-bottom: 1px solid white;
  -webkit-transition: 1s;
  transition: 1s;
}

main {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: white;
}

main article {
  margin: auto;
  padding-left: 48px;
  padding-right: 48px;
  font-size: 1.1em;
  max-width: 50ch;
}

main article h1 {
  color: seagreen;
  font-weight: 300;
  font-size: 1.4em;
  text-align: center;
}

main article aside {
  padding: 4px;
  font-size: 0.9em;
  text-align: center;
  border-width: 1px;
  border-style: solid none solid none;
  -o-border-image: linear-gradient(to right, rgba(0, 0, 0, 0), seagreen, rgba(0, 0, 0, 0)) 1 5%;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(seagreen), to(rgba(0, 0, 0, 0))) 1 5%;
     border-image: linear-gradient(to right, rgba(0, 0, 0, 0), seagreen, rgba(0, 0, 0, 0)) 1 5%;
}

main article aside h1 {
  color: seagreen;
  font-style: italic;
  font-size: 1.2em;
}

table {
  margin: auto;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cursive {
  margin: 0px;
  padding-top: 12px;
  color: seagreen;
  font-family: 'Tangerine', cursive;
  font-weight: 500;
  font-size: 3em;
  text-align: center;
}

.caption {
  margin: 0px;
  color: dimgray;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  text-align: center;
}

.preloader {
  position: absolute;
  left: -9999px;
  top: -999px;
}

.preloader img {
  display: block;
}
/*# sourceMappingURL=styles.css.map */