@import 'base/colors';
@import 'base/fonts';

table {
  margin: auto;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cursive {
  margin: 0px;
  padding-top: 12px;
  color: $green;
  font-family: 'Tangerine', cursive;
  font-weight: 500;
  font-size: 3em;
  text-align: center;
}

.caption {
  margin: 0px;
  color: $gray;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  text-align: center;
}