@import 'base/colors';

table {
  margin: auto;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cursive {
  margin: 0px;
  padding-top: 12px;
  color: $green;
  text-align: center;
}

.caption {
  margin: 0px;
  color: $gray_dark;
  text-align: center;
}