body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

header, nav, main, footer {
  margin: 0px;
  width: 960px;
  max-width: 100%;
  background-color: white;
}

a {
  color: seagreen;
  text-decoration: none;
}

a:hover {
  color: seagreen;
  border-bottom: 1px solid seagreen;
}

header {
  padding-top: 18px;
}

header h1 {
  color: seagreen;
  font-family: 'Charmonman', cursive;
  font-weight: 300;
  font-size: 64;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding-left: 38px;
  padding-right: 38px;
  text-transform: uppercase;
}

nav a {
  color: dimgray;
}

main article {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 18px;
  padding-bottom: 18px;
}

footer {
  padding-bottom: 18px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer li {
  display: inline-block;
  padding-left: 32px;
  padding-right: 32px;
}

footer a {
  color: dimgray;
}

footer a:hover {
  border: none;
}