<div class="order">
    <form name="{{ page.order-id }}" method="POST" action="/success.html" data-netlify="true" onsubmit="return validateForm()">
        <h2>Bestellformular</h2>
        <section class="order">
            <h3>Zusammenfassung</h3>
            <h4>{{ page.title }}</h4>
            <p class="order-info">{{ page.summary }}</p>
            <p class="order-info">von {{ page.shop }}</p>
            <p class="order-info">{{ page.shipping-info }}</p>
            <br>
            <p class="order-price">{{ page.price }}</p>
            <p class="order-price-disclaimer">evtl. zzgl. Versandkosten ins Ausland</p>
        </section>
        <section class="order">
            <h3>Kontaktdaten</h3>
            <div class="form">
                <label for="discord-username">Dein Discord Username</span>: </label>   
                <input type="text" name="discord-username" />
            </div>
            <div class="form">
                <label for="discord-id">Deine Discord ID</span>: </label>   
                <input type="text" name="discord-id" />
                <p class="form-description">
                    Vierstellige Nummernfolge hinter dem Username,<br>
                    zu finden in deinem Discord Profil.
                </p>
            </div>
            <div class="form">
                <label for="connection">Woher kennen wir uns?: </label>
                <input type="text" name="connection" />
                <p class="form-description">z.B. Jomons Stream, Dotasource, etc.</p>
            </div>
        </section>
        <section class="order">
            <h3>Lieferadresse</h3>
            <div class="form">
                <label for="name">Vor- und Nachname: </label>
                <input type="text" name="name" />
            </div>
            <div class="form">
                <label for="additional-info">Adresszusatz: </label>
                <input type="text" name="additional-info" />
            </div>
            <div class="form">
                <label for="street">Straße und Hausnummer: </label>
                <input type="text" name="street" />
            </div>
            <div class="form">
                <label for="postalcode">PLZ: </label>
                <input type="text" name="postalcode" />
            </div>
            <div class="form">
                <label for="city">Ort: </label>
                <input type="text" name="city" />
            </div>
            <div class="form">
                <label for="country">Land: </label>
                <input type="text" name="country" />
            </div>
        </section>
        <section class="order">
            <h3>Zusatz</h3>
            <div class="form">
                <textarea name="message"></textarea>
            </div>
        </section>
        
        <p class="order-button">
            <button class="order" type="submit">Bestellen</button>
        </p>
    </form>
</div>

<script>
    function validateForm() {
    let names = [
        "discord-username",
        "connection",
        "name",
        "street",
        "postalcode",
        "city",
        "country",
    ]

    let output = [
        "Discord Username",
        "Woher kennen wir uns?",
        "Vor- und Nachname",
        "Straße und Hausnummer",
        "PLZ",
        "Ort",
        "Land",
    ]

    for (let i = 0; i < names.length; i++) {
        let input = document.forms["{{ page.id }}"][names[i]].value;
        if (input == "") {
            alert(output[i] + " muss angegeben werden");
            return false;
        }
    }

    let x = document.forms["{{ page.id }}"]["discord-id"].value;

    if (isNaN(x) || x < 1 || x > 10000) {
        alert("Discord ID muss eine vierstellige Nummer sein.");
            return false;
    }
}
</script>