<div class="order-overview">
    {% assign teas = site.teas 
        | where: "order-id",  page.order-id 
        | sort: "key" %}

    {%- for tea in teas -%}
        <div class="order-tea">
            <a class="preview" href="{{- tea.url -}}">
                <img class="thumb" src="/assets/img/orders/{{tea.order-id}}/{{tea.shorthand}}/thumb.jpg">
                <img class="hover" src="/assets/img/orders/{{tea.order-id}}/{{tea.shorthand}}/hover.jpg">
                <span>{{ tea.title }}</span>
                <br>
                <span class="order-tea-type">{{ tea.type }}</span>
                <span class="order-tea-price">{{ tea.price }}&hairsp;<sup>{{ tea.currency }}</sup>/<sub>g</sub></span>
            </a>
        </div>
    {% endfor %}

</div>