<div class="package__overview">
  {% assign teas = site.teas 
    | where: 'order-id',  package.order-id
    | where: 'package', package.shorthand 
    | sort: 'key' %}

  {%- for tea in teas -%}
  <a class="tea-showcase" href="{{- tea.url -}}">
    <img class="thumb" src="/assets/img/orders/{{tea.order-id}}/{{tea.shorthand}}/thumb.jpg" alt="">
    <img class="hover" src="/assets/img/orders/{{tea.order-id}}/{{tea.shorthand}}/hover.jpg" alt="">
    <p>{{ tea.title }}</p>
    <p class="subtitle">
      <span>{{ tea.type }}</span>
      <span>{{ tea.shared-amount }}</span>
    </p>
  </a>
  {% endfor %}
</div>