<div class="package-overview">
    {% assign teas = site.teas 
        | where: 'order-id',  package.order-id
        | where: 'package', package.shorthand 
        | sort: 'key' %}

    {%- for tea in teas -%}
    <div class="package-tea">
        <a class="preview" href="{{- tea.url -}}">
            {% if tea.show-placeholder %}
            <img src="/assets/img/orders/placeholder.jpg" alt="">
            {% else %}
            <img class="thumb" src="/assets/img/orders/{{tea.order-id}}/{{tea.shorthand}}/thumb.jpg" alt="">
            <img class="hover" src="/assets/img/orders/{{tea.order-id}}/{{tea.shorthand}}/hover.jpg" alt="">
            {% endif %}
            <span>{{ tea.title }}</span>
            <br>
            <span class="package-tea-type">{{ tea.type }}</span>
            <span class="package-tea-price">{{ tea.price }}&hairsp;<sup>{{ tea.currency }}</sup>/<sub>g</sub></span>
        </a>
    </div>
    {% endfor %}
</div>