<table class="package__status">
  <tr>
    <td>
      Shop:
    </td>
    <td>
      <a class="dotted-link" href="{{ package.shop-url }}">{{ package.shop }}</a>
    </td>
  </tr>
  <tr>
    <td>
      Vorrat:
    </td>
    <td>
      {{ package.stash }} Stück
    </td>
  </tr>
  <tr>
    <td>
      Preis:
    </td>
    <td>
      <p class="package__price">
        {{ package.price }},00&hairsp;€
      </p>
      <p class="package__shipping">
        zzgl. Versandkosten
      </p>
    </td>
  </tr>
</table>