<section class="order-form-section packages" hidden>

  <h2>Paketauswahl</h2>

  <p class="order-form-subtitle">
    Wähle aus welches Paket du möchtest.<br>Du kannst eines oder alle beide nehmen.
  </p>

  <div class="package-selection">

    {% for package in packages %}
      
      <label class="container">
        <input 
            type="checkbox" 
            class="checkbox-package" 
            id="{{ package.order-id }}{{ package.shorthand }}"
            name="package-{{ package.shorthand }}"
            value="ordered">

        <div class="package-selector">
          <h2>
            {{ package.title }}
          </h2>
          {% assign teas = site.teas 
            | where: 'order-id', page.order-id 
            | where: 'package', package.shorthand %}

          {% for tea in teas %}
            <p class="checkbox-tea">{{ tea.title }}</p>
          {% endfor %}

          <p class="checkbox-price">{{ package.price }},00&hairsp;€</p>
          
        </div>
      </label>

    {% endfor %}

  </div>

  <p class="form-alert" id="package-alert"></p>

  <p class="order-buttons">

    <button 
      class="button button--gray"
      onclick="showForm('terms')"
      type="button">
      Zurück
    </button>

    <button 
      class="button"
      onclick="advanceTo('contact')"
      type="button">
      Weiter
    </button>
  </p>

</section>