<section class="order-form-section shipping" hidden>

  <h1>Lieferadresse</h1>

  <div class="form-name">
    <div class="form">
      <label for="first-name">Vorname: </label>
      <input type="text" name="first-name" id="first-name" />
    </div>
    <div class="form">
      <label for="last-name">Nachname: </label>
      <input type="text" name="last-name" id="last-name" />
    </div>
  </div>

  <div class="form-street">
    <div class="form">
      <label for="street-name">Straße: </label>
      <input type="text" name="street-name" id="street-name" />
    </div>
    <div class="form">
      <label for="street-number">Hausnr.: </label>
      <input type="text" name="street-number" id="street-number" />
    </div>
  </div>

  <div class="form">
    <label for="additional-info">Adresszusatz: </label>
    <input type="text" name="additional-info" id="additional-info" />
  </div>

  <div class="form-city">
    <div class="form">
      <label for="postalcode">PLZ: </label>
      <input type="text" name="postalcode" id="postal-code" />
    </div>

    <div class="form">
      <label for="city">Ort: </label>
      <input type="text" name="city" id="city"/>
    </div>
  </div>

  <div class="form">
    <label for="country">Land: </label>
    <input type="text" name="country" id="country"/>
  </div>

  <p class="form-description">
    Versand ins nichtdeutsche Ausland ist gegen Aufpreis möglich. Die Preise dafür kann ich aber noch nicht automatisch angeben. Das besprechen wir dann ggf. nach der Bestellung übers Discord.
  </p>

  <p class="form-alert" id="shipping-alert"></p>

  <p class="order-buttons">

    <button 
      class="button button--gray"
      onclick="showForm('contact')"
      type="button">
      Zurück
    </button>

    <button 
      class="button button--black"
      onclick="advanceTo('addition')"
      type="button">
      Weiter
    </button>

  </p>

</section>