<section class="order-form-section addition" hidden>

  <h2>Anmerkung</h2>

  <div class="form">
    <textarea name="addition" id="addition"></textarea>
  </div>
  
  <p class="form-description">
    Falls du mir noch etwas mitteilen möchtest.
  </p>

  <p class="order-buttons">

    <button 
      class="button button--white"
      onclick="showForm('shipping')"
      type="button">
      Zurück
    </button>

    <button 
      class="button"
      onclick="advanceTo('summary'); summarize();"
      type="button">
      Weiter
    </button>

  </p>

</section>