---
import Page from '../../layouts/Page.astro'
import Frame from '../../components/Frame.astro'
import { getCollection } from "astro:content"

const packs = await getCollection('packs')
const bg = "bg-white"
---
<Page title="Projekt Teegenuss" bgHeader={bg}>
    <Frame bg={bg}>
        <ul>
        {
            packs.reverse().map(pack => 
                <li>
                    <a href={`${pack.data.route}`}>{pack.data.title}</a>
                </li>)
        }
        </ul>
    </Frame>
</Page>