<article class="glossary__entry" id="{{entry.tag}}">
  
  <header class="glossary__header glossary__header--expanded">
    <h3>{{ entry.title }}</h3>
  </header>

  <div  class="glossary__panel" data-expanded="true">
    {% if entry.translation or entry.synonyms %}
    <div class="glossary__addition">
      {% if entry.translation %}
      <p>
        <span>Übersetzt: </span>
        <span>{{ entry.translation }}</span>
      </p>
      {% endif %}
      {% if entry.synonyms %}
      <p>
        <span>Auch: </span>
        <span>{{ entry.synonyms }}</span>
      </p>
      {% endif %}
    </div>
    {% endif %}
    <p class="glossary__description">
      {{ entry.content }}
    </p>
  </div>

</article>