{% if page.short-notes %}
    <tr>
        <th>Aroma</th>
        <td colspan="2">{{ page.aroma }}</td>
    </tr>
    <tr>
        <th>Aufguss-<br>farbe</th>
        <td colspan="2">{{ page.liquer-color }}</td>
    </tr>
    <tr>
        <th>Geschmack</th>
        <td colspan="2">{{ page.taste }}</td>
    </tr>
    <tr>
        <th>Blätter</th>
        <td colspan="2">{{ page.spent-leaf }}</td>
    </tr>
{% else %}
    <tr>
        <th rowspan="2">Aroma</th>
        <td>trockenes Blatt</td>
        <td>{{ page.aroma-dry }}</td>
    </tr>
    <tr>
        <td>feuchtes Blatt</td>
        <td>{{ page.aroma-wet }}</td>
    </tr>
    <tr>
        <th>Aufguss-<br>farbe</th>
        <td></td>
        <td>{{ page.liquer-color }}</td>
    </tr>
    <tr>
        <th rowspan="2">Geschmack</th>
        <td>ersten Aufgüsse</td>
        <td>{{ page.taste-early }}</td>
    </tr>
    <tr>
        <td>spätere Aufgüsse</td>
        <td>{{ page.taste-later }}</td>
    </tr>
    {% if page.texture %}
        <tr>
            <th>Textur</th>
            <td></td>
            <td>{{ page.texture }}</td>
        </tr>
    {% endif %}
    {% if page.feeling %}
        <tr>
            <th>Gefühl</th>
            <td></td>
            <td>{{ page.feeling }}</td>
        </tr>
    {%endif %}
    <tr>
        <th>Blätter</th>
        <td></td>
        <td>{{ page.spent-leaf }}</td>
    </tr>
{% endif %}