{% if page.short-notes %}
    <tr>
        <th colspan="3">Aroma</th>
        <td colspan="6">{{ page.aroma }}</td>
    </tr>
    <tr>
        <th colspan="3">Aufguss-<br>farbe</th>
        <td colspan="6">{{ page.liquer-color }}</td>
    </tr>
    <tr>
        <th colspan="3">Geschmack</th>
        <td colspan="6">{{ page.taste }}</td>
    </tr>
    <tr>
        <th colspan="3">Blätter</th>
        <td colspan="6">{{ page.spent-leaf }}</td>
    </tr>
{% else %}
    <tr>
        {% if page.aroma-ceramics %}
        <th colspan="3" rowspan="3">Aroma</th>
        {% else %}
        <th colspan="3" rowspan="2">Aroma</th>
        {% endif %}
        <td colspan="2">trockenes<br>Blatt</td>
        <td colspan="4">{{ page.aroma-dry }}</td>
    </tr>
    <tr>
        <td colspan="2">feuchtes<br>Blatt</td>
        <td colspan="4">{{ page.aroma-wet }}</td>
    </tr>
    {% if page.aroma-ceramics %}
        <tr>
            <td colspan="2"><span class="mouseover" title="Das Aroma des Teegeschirrs nach dem Aufgießen bzw. Trinken. Zum Beispiel der Gaiwandeckel, die Ausschankkanne oder die Trinkschalen.">Geschirr</span></td>
            <td colspan="4">{{ page.aroma-ceramics }}</td>
        </tr>
    {% endif %}
    <tr>
        <th colspan="3">Aufguss-<br>farbe</th>
        <td colspan="2"></td>
        <td colspan="4">{{ page.liquer-color }}</td>
    </tr>
    <tr>
        <th colspan="3" rowspan="2">Geschmack</th>
        <td colspan="2">ersten<br>Aufgüsse</td>
        <td colspan="4">{{ page.taste-early }}</td>
    </tr>
    <tr>
        <td colspan="2">spätere<br>Aufgüsse</td>
        <td colspan="4">{{ page.taste-later }}</td>
    </tr>
    {% if page.texture %}
        <tr>
            <th colspan="3">Textur</th>
            <td colspan="2"d></td>
            <td colspan="4">{{ page.texture }}</td>
        </tr>
    {% endif %}
    {% if page.feeling %}
        <tr>
            <th colspan="3">Gefühl</th>
            <td colspan="2"></td>
            <td colspan="4">{{ page.feeling }}</td>
        </tr>
    {%endif %}
    <tr>
        <th colspan="3">Blätter</th>
        <td colspan="2"></td>
        <td colspan="4">{{ page.spent-leaf }}</td>
    </tr>
{% endif %}