<div class="order">
    <h2 class="terms">Teilnahmebedingungen</h2>
    <p class="terms">Bitte lies sie dir aufmerksam durch.</p>
    <ol class="terms">
        <li>Ich gebe den Tee zum Selbstkostenpreis an euch weiter und mache damit keinen Gewinn. Ich bin kein gewerblich eingetragener Händler. Es handelt sich hier um einen freundschaftlichen Austausch und keine Geschäftsbeziehung. Deshalb ist es mir auch wichtig jeden Teilnehmer zuordnen zu können. Gebt in der Bestellung also bitte kurz an woher wir uns kennen.</li>
        <li>Wenn ihr eine Bestellung aufgebt, sende ich euch im Discord eine Nachricht mit meiner PayPal-Verbindung und lade euch auf meinen Server ein.</li>
        <li>Nachdem ich die Zahlungsinformationen weitergegeben habe, reserviere ich für zwei Tage ein Paket. Wenn die Zahlung erfolgt ist geht dieses dann zeitnah in die Post. Sollte ich in den zwei Tagen aber keine Rückmeldung erhalten, dann gebe ich das Paket wieder für andere Interessenten frei. </li>
        <li>Das Paket wird aus Kostengründen als unversichterte Briefpost verschickt. Wer gegen Aufpreis lieber einen Versand per Einschreiben mit Nachverfolgung möchte kann das in der Bestellung angeben. Sendungen ins nichtdeutsche Ausland bitte ebenfalls kennzeichnen. Ich setze mich dann zwecks eventuell höheren Versandkosten mit euch in Verbindung.</li>
        <li>Da ich möglichst vielen Leuten die Chance geben möchte teilzunehmen, limitiere ich die Bestellungen fürs erste auf ein Paket pro Person. Sollte am Ende noch etwas übrig sein könnt ihr aber auch gerne mehrfach bestellen. Gebt es in der Bestellung an und dann komme ich ggf. darauf zurück.</li>
        <li>Alle persönlichen Daten die ich sammle verwende ich nur zum Abwickeln der Bezahlung und dem Versenden der Pakete. Sie werden von mir direkt im Anschluss an die Teilung gelöscht.</li>
    </ol>
    <p class="order-button">
        <button 
            class="order"
            onclick="location.href='/order-forms/{{page.order-id}}.html'"
            type="button">
            Okay, verstanden.
            <br>
            Ich will jetzt bestellen!
        </button>
    </p>
</div>