---
title: Helles&nbsp;Taiwan, Dunkles&nbsp;Taiwan
subtitle: Teeteilung
date: 2022-03-28T00:01:00Z
order-id: 22-2
open: true
shipping-cost: 5

lead-path: /assets/img/orders/22-2/alishan.jpg
lead-alt: Berge im Alishan-Gebirge
excerpt: "Dieses mal gibt es direkt zwei Pakete: eines widmet sich Taiwans heller Seite und besteht Grüntees und Hochgebirgsoolongs, das andere zeigt Taiwans dunkle Seite mit verschiedenen gerösteten Oolongs und zwei Schwarztees."
---
<section class="order-intro">

  <header class="hero">
    <img src="{{ page.lead-path }}" alt="{{ page.lead-alt }}">
    <h2 class="hero__title">{{ page.title }}</h2>
  </header>
  
  <div>

    <p>
      {{ page.excerpt }}
    </p>

  </div>
  
</section>

{% assign packages = site.packages | where: 'order-id', page.order-id %}
{% for package in packages %}
<section class="package">

  <header class="text-header">
    <span class="subtitle subtitle--medium">Paket</span>
    <h3 class="title title--medium">{{ package.title }}</h3>
  </header>

  <p>
    {{ package.content }}
  </p>

  {% include order/package-overview.html %}
  {% include order/package-status.html %}

</section>
{% endfor %}

<section>

  <p class="order-buttons">
    <button 
      class="button button--black"
      {% if page.open %}
        class="order"
        onclick="location.href='/form'"
      {% else %}
        class="order-closed"
      {% endif %}
        type="button">
        Bestellen
    </button>
  </p>

</section>