---
title: Einstieg in den taiwanesischen&nbsp;Oolong
date: 2022-02-01T00:01:00Z
order-id: 22-1
open: false
stash: 0
price: 23€
---
<p>
    Zur Eröffnung von Projekt:&nbsp;Teegenuss möchte ich mit euch eine Bestellung von <a href="https://www.taiwanteacrafts.com/">Taiwan Tea Crafts</a> teilen. Enthalten sind sieben Oolongs in verschiedenen Oxidations- und Röststufen, die einen guten Einblick in die Sortenvielfalt des taiwanesischen Oolongs bieten sollen.
</p>

<section class="order-package">

    {% assign package = site.packages | where: 'order-id', page.order-id | first %}
    {% include order/package-overview.html %}
    {% include order/package-status.html %}

</section>