---
title: Helles Taiwan, Dunkles Taiwan
subtitle: Teeteilung
date: 2022-03-28T00:01:00Z
order-id: 22-2
open: true
shipping-cost: 5

excerpt: "Dieses mal gibt es direkt zwei Pakete: eines widmet sich Taiwans heller Seite und besteht hauptächlich aus Gaoshan Oolongs, das andere zeigt Taiwans dunkle Seite mit verschiedenen gerösteten Oolongs und zwei Schwarztees."
---
<p>
    Vor dem Beginn der diesjährigen Frühjahrsernte habe ich auf <a href="https://www.taiwanteacrafts.com/">Taiwan Tea Crafts</a> eine Auswahl von Vorjahrestees zu reduzierten Preisen gekauft. Dieses mal könnt ihr euch zwischen zwei getrennten Paketen entscheiden und entweder nur eines von beiden, oder beide zusammen bestellen. Von jedem Tee wird wieder 12&hairsp;g verteilt.
</p>

{% assign packages = site.packages | where: 'order-id', page.order-id %}
{% for package in packages %}

    <section class="order-package">

        <h3>Paket</h3>
        <h2>{{ package.title }}</h2>

        <p>
            {{ package.content }}
        </p>

        {% include order/package-overview.html %}
        {% include order/package-status.html %}

    </section>

{% endfor %}

<p class="order-buttons">
    <button 
        {% if page.open %}
            class="order"
            onclick="location.href='/form'"
        {% else %}
            class="order-closed"
        {% endif %}
            type="button">
            Bestellen
    </button>
</p>