---
title: Chinas&nbsp;Schätze
subtitle: Teeteilung
date: 2023-03-12T00:01:00Z
order-id: 23-1
open: true
shipping-cost: 3
primary: true

lead-path: /assets/img/orders/23-1/clay-banks.jpg
preview-path: /assets/img/orders/23-1/clay-banks-preview.jpg
lead-alt: Eine Teeplantage
excerpt: "Dieses Paket gibt einen Überblick über das breite Spektrum des chinesischen Tees. Das Herzstück sind dabei vier verschiedene Oolongs in verschiedenen Röststufen. Begleitet werden sie von verschiedenen grünen, weißen und schwarzen Tees. Auch dabei ist ein Vertreter des im Westen eher unbekannten nachfermentierten Heichas."
---
<section class="order-intro">

  <header class="hero">
    <img src="{{ page.lead-path }}" alt="{{ page.lead-alt }}">
    <h1 class="hero__title">{{ page.title }}</h1>
  </header>

  <div>

    <p>
      {{ page.excerpt }}
    </p>

  </div>

</section>

{% assign packages = site.packages | where: 'order-id', page.order-id %}
{% for package in packages %}
<section class="package">

  <p>
    {{ package.content }}
  </p>

  {% include order/package-overview.html %}
  {% include order/package-status.html %}

</section>
{% endfor %}

<section>

  <p class="order-buttons">
    <button
      class="button button--large"
      {% if page.open %}
        class="order"
        onclick="location.href='/form-23-1'"
      {% else %}
        class="order-closed"
      {% endif %}
        type="button">
        Zur Bestellung
    </button>
  </p>

</section>