article {
    margin: 2rem auto;
    padding: 0 .5rem;

    header,
    .lead {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-items: center;
        
        h1 {
            text-align: center;
        }

        .sub-heading {
            text-align: center;
            font-size: var(--fs-500);
            color: $clr-medium-gray;
        }

        .subtitle {
            font-size: var(--fs-400);
            color: $clr-medium-gray;
        }
    }

    section {
        padding: 1rem 0;

        header {
            padding: 0;
        }
    }

    p {
        margin: 0 auto;
        max-width: 60ch;
        padding: .5em 0;
    }
}