article {
    margin: 2rem auto;
    padding: 0 .5rem;
}

article > p {
    margin: 0 auto;
    max-width: 60ch;
    padding: .5em 0;
}

article > h1 {
    text-align: center;
}

article > header {
    display: flex;
    flex-direction: column;
    
    span {
        font-size: var(--fs-500);
    }
}

.tea-info {
    color: $clr-dark-gray;
}