$clr-black: #000;
$clr-dark-gray: #222;
$clr-medium-gray: #555;
$clr-light-gray: #f9f9f9;

$clr-bg: #f5f5ff;

$clr-link: #339;
$clr-link-hover: #6f6fdf;
$clr-nav-link: $clr-medium-gray;

$clr-table-light: #f5f5ff;
$clr-table-medium: #e9e9ff;
$clr-table-dark: #e1e1ff;

$clr-order-bg: #e9e9ff;
$clr-order-button: #e1e1ee;
$clr-order-button-hover: #d1d1ff;
$clr-order-highlight: blue;

$clr-tea-dark-green: darkgreen;
$clr-tea-green: #96D121;
$clr-tea-yellow-green: #a9c21e;
$clr-tea-yellow: #c9bf00;
$clr-tea-dark-yellow: #d19c21;
$clr-tea-orange: #d86e12;
$clr-tea-red: #c23d00;
$clr-tea-dark-red: #912e00;
$clr-tea-black: #3d1300;

$clr-tea-gradient: linear-gradient(
        to right, 
        darkgreen 0%,
        #96D121 10%,
        #b7d121 20%,
        #E9DF00 40%,
        #FFBF29 60%,
        #FF8417 70%,
        #c23d00 80%,
        #912e00 90%,
        #3d1300 100%);
