$clr-black: #000;
$clr-dark-gray: #222;
$clr-medium-gray: #555;
$clr-light-gray: #f9f9f9;
$clr-blue: blue;

$clr-bg: #fcfcff;

$clr-link: #339;
$clr-nav-link: $clr-medium-gray;

$clr-tos-bg: #f1f1ff;
$clr-tos-button-hover: #e0e0ff;

$clr-order-bg: #e9e9ff;
$clr-order-button: #e1e1ee;
$clr-order-button-hover: #d1d1ff;

$clr-tea-gradient: linear-gradient(
        to right, 
        #96D121 0%,
        #FFEC35 20%,
        #FFBF29 40%,
        #FF8417 80%,
        #E64900 100%);
