$clr-black: #000;
$clr-dark-gray: #222;
$clr-medium-dark-gray: #555;
$clr-medium-gray: #888;
$clr-medium-light-gray: #ccc;
$clr-light-gray: #f9f9f9;

$clr-bg: #fff;

$clr-link: #339;
$clr-link-hover: #6f6fdf;
$clr-nav-link: $clr-medium-dark-gray;

$clr-table-light: #f1f1ff;
$clr-table-medium: #e9e9ff;
$clr-table-dark: #e1e1ff;
$clr-table-border: #d1d1ff;

$clr-button: #e1e1ee;
$clr-button-hover: #d1d1ff;

$clr-order-bg: #e9e9ff;
$clr-order-highlight: blue;

$clr-tea-gradient: linear-gradient(
        to right, 
        darkgreen 0%,
        #96D121 10%,
        #b7d121 20%,
        #E9DF00 40%,
        #FFBF29 60%,
        #FF8417 70%,
        #c23d00 80%,
        #912e00 90%,
        #3d1300 100%);