$clr-black: #000;
$clr-dark-gray: #222;
$clr-medium-gray: #555;
$clr-light-gray: #f9f9f9;

$clr-link: darkblue;
$clr-link-hover: blue;

$clr-button-hover: #eeeeff;

header {
    a.logo {
        color: $clr-dark-gray;
    }

    p:first-child {
        color: $clr-medium-gray;
    }
}

article > header {
    span {
        color: $clr-medium-gray;
    }
}

a {
    color: $clr-link;
}

a:hover {
    color: $clr-link-hover;
}

footer {
    color: $clr-dark-gray;
}

h3.TOS {
    background-color: $clr-light-gray;
}

ol.TOS {
    background-color: $clr-light-gray;
    color: $clr-dark-gray;
    background-color: $clr-light-gray;
}

.TosButton {
    color: $clr-medium-gray;
    background-color: $clr-light-gray;
}

.TosButton:hover {
    background-color: $clr-button-hover;
}