// ------ Headers -------- //

.hero {
  position: relative;

  &__title {
    position: absolute;
    top: calc(55% - (var(--fs-1000) / 2));
    margin: 0 10%;
    width: 80%;
    color: rgba($light-gray, .8);
    text-align: center;
    line-height: var(--fs-1000);
    font-size: var(--fs-1000);
    user-select: none;
  }

  a:hover {
    img {
      filter:grayscale(.1);
    }

    .hero__title {
      color: rgba($white, .8);
    }
  }

}

.text-header {
  text-align: center;
  font-weight: bold;
}

.title {
  color: $almost-black;

  &--link:hover {
    color: $black;
  }

  &--large {
    font-size: var(--fs-700);
  }
  
  &--medium {
    font-size: var(--fs-600);
  }
}

.subtitle {
  color: $medium-dark-gray;

  &--large {
    font-size: var(--fs-600);
  }

  &--medium {
    font-size: var(--fs-500);
  }

  &--small {
    font-weight: normal;
    font-size: var(--fs-400);
  }
}

// ------- Buttons ------- //

.button {
  all: unset;
  cursor: pointer;
  padding: .5rem 1rem;
  width: 8rem;
  color: $almost-white;
  text-align: center;
  background-color: $almost-black;

  &:hover {
    color: $white;
    background-color: $dark-gray;
  }

  &--gray {
    color: $light-gray;
    background-color: $medium-gray;

    &:hover {
      color: $almost-white;
      background-color: $medium-dark-gray;
    }
  }

  &--accept {
    color: $almost-white;
    background-color: $almost-black;

    &:hover {
      color: $white;
      background-color: $clr-accept;
    }
  }
}

// ------ Slideshow ------ //

.slideshow {
  position: relative;
  overflow: hidden;

  img {
    margin: 0 auto;
    display: block;
  }
}

.slide {
  display: none;
}

.slideshow-prev, 
.slideshow-next {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: calc(50% - 5rem);
  padding: 4rem 6px;
  color: $medium-dark-gray;
  opacity: .5;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 0 5px 5px 0;
  transition: 0.6s ease;
}

.slideshow-next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.slideshow-prev:hover, 
.slideshow-next:hover {
  background-color: $medium-dark-gray;
  opacity: .5;
  color: $light-gray;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

// -------- Tables ------- //

.data-table {
  margin-inline: auto;
  margin-bottom: auto;
  width: 100%;
  font-size: var(--fs-400);
  display: grid;
  grid-gap: 1rem 0;
  hyphens: manual;
  
  &--outer {
    margin-bottom: 1rem;
    max-width: $p-width;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &--inner {
    padding-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
  }

  &__attribute--outer,
  &__attribute--inner {
    color: $almost-black;
  }
  
  &__attribute--outer {
    font-weight: bold;
  }

  &__value {
    color: $dark-gray;
  }
}