// ------ Headers -------- //

.hero {
  position: relative;

  &__title {
    width: 100%;
    position: absolute;
    top: calc(55% - (var(--fs-1000) / 2));
    color: rgba($light-gray, .8);
    text-align: center;
    line-height: var(--fs-1000);
    font-size: var(--fs-1000);
    user-select: none;

    &--link:hover {
      color: rgba($almost-white, .9);
    }
  }
}

.text-header {
  text-align: center;
  font-weight: bold;
}

.title {
  color: $almost-black;

  &--link:hover {
    color: $black;
  }

  &--large {
    font-size: var(--fs-700);
  }
  
  &--medium {
    font-size: var(--fs-600);
  }
}

.subtitle {
  color: $medium-dark-gray;

  &--large {
    font-size: var(--fs-600);
  }

  &--medium {
    font-size: var(--fs-500);
  }

  &--small {
    font-weight: normal;
    font-size: var(--fs-400);
  }
}

// ------- Buttons ------- //

.button {
  all: unset;
  cursor: pointer;
  padding: .5rem 1rem;

  &--black {
    color: $almost-white;
    background-color: $almost-black;

    &:hover {
      color: $white;
      background-color: $dark-gray;
    }
  }

  &--gray {
    color: $light-gray;
    background-color: $medium-gray;

    &:hover {
      color: $almost-white;
      background-color: $medium-dark-gray;
    }
  }

  &--accept {
    color: $almost-white;
    background-color: $almost-black;

    &:hover {
      color: $white;
      background-color: $clr-accept;
    }
  }
}

// ------ Accordion ------ //

.accordion {
  border-radius: 5px;

  &::after {
    content: '\02795';
    opacity: .6;
    font-size: var(--fs-200);
  }

  &--active {
    border-radius: 5px 5px 0 0;
  }

  &--active::after {
    content: '\2796';
  }

  &:hover::after {
    opacity: 1;
  }
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

// ------ Slideshow ------ //

.slideshow {
  position: relative;
  overflow: hidden;

  img {
    margin: 0 auto;
    display: block;
  }
}

.slide {
  display: none;
}

.slideshow-prev, 
.slideshow-next {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: calc(50% - 5rem);
  padding: 4rem 6px;
  color: $medium-dark-gray;
  opacity: .5;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 0 5px 5px 0;
  transition: 0.6s ease;
}

.slideshow-next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.slideshow-prev:hover, 
.slideshow-next:hover {
  background-color: $medium-dark-gray;
  opacity: .5;
  color: $light-gray;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}