// ------ Headers -------- //

.hero {
    position: relative;
    margin-bottom: clamp(2rem, 10vw, 4rem);

    &__title {
        width: 100%;
        position: absolute;
        top: calc(55% - (var(--fs-1000) / 2));
        color: rgba($light-gray, .8);
        text-align: center;
        line-height: var(--fs-1000);
        font-size: var(--fs-1000);
        user-select: none;
    }
}

// ------ Slideshow ------ //

.slideshow {
    position: relative;
    overflow: hidden;

    img {
        margin: 0 auto;
        display: block;
    }
}

.slide {
    display: none;
}

.slideshow-prev, 
.slideshow-next {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: calc(50% - 5rem);
    padding: 4rem 6px;
    color: $medium-dark-gray;
    opacity: .5;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    border-radius: 0 5px 5px 0;
    transition: 0.6s ease;
}

.slideshow-next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.slideshow-prev:hover, 
.slideshow-next:hover {
    background-color: $medium-dark-gray;
    opacity: .5;
    color: $light-gray;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}