// -------- Breakpoints -------- //

$bp-1: 600px;
$bp-2: 800px;

// ----------- Fonts ----------- //

@import url('https://fonts.googleapis.com/css2?family=Roboto');

$main-font: 'Roboto', sans-serif;

:root {
    --fs-200: 0.8rem;
    --fs-300: 0.9rem;
    --fs-400: 1rem;
    --fs-500: 1.1rem;
    --fs-600: 1.2rem;
    --fs-700: 1.3rem;
    --fs-800: 1.4rem;
    --fs-1000: 3rem;
}

@media(min-width: $bp-1) {
    :root {
        --fs-200: 0.9rem;
        --fs-300: 1rem;
        --fs-400: 1.1rem;
        --fs-500: 1.2rem;
        --fs-600: 1.3rem;
        --fs-700: 1.4rem;
        --fs-800: 1.5rem;
        --fs-1000: 3.5rem;
    }
}

@media(min-width: $bp-2) {
    :root {
        --fs-200: 1rem;
        --fs-300: 1.1rem;
        --fs-400: 1.2rem;
        --fs-500: 1.3rem;
        --fs-600: 1.4rem;
        --fs-700: 1.5rem;
        --fs-800: 1.6rem;
        --fs-1000: 4rem;
    }
}

// ---------- Colors ---------- //

$clr-black: #000;
$clr-dark-gray: #393939;
$clr-medium-dark-gray: #595959;
$clr-medium-gray: #888;
$clr-medium-light-gray: #ccc;
$clr-light-gray: #f9f9f9;

$clr-bg: #fff;

$clr-link: #339;
$clr-link-hover: #6f6fdf;
$clr-nav-link: $clr-medium-dark-gray;

$clr-table-light: #f1f1ff;
$clr-table-medium: #e9e9ff;
$clr-table-dark: #e1e1ff;
$clr-table-border: #d1d1ff;

$clr-button: #e1e1ee;
$clr-button-hover: #d1d1ff;
$clr-submit: #e1e1ee;
$clr-submit-hover: #00804f;

$clr-order-bg: #e9e9ff;
$clr-order-highlight: blue;

$clr-tea-gradient: linear-gradient(
        to right, 
        darkgreen 0%,
        #96D121 10%,
        #b7d121 20%,
        #E9DF00 40%,
        #FFBF29 60%,
        #FF8417 70%,
        #c23d00 80%,
        #912e00 90%,
        #3d1300 100%);

// ------------ Misc ------------//

$p-max-width: 60ch;