// --------- Dimensions ---------//

$content-width: 1000px;
$content-gap: clamp(.25rem, 2vw, 4rem);
$p-width: 45rem;

$bp-tablet: 600px;
$bp-desktop: $content-width;

// ----------- Fonts ----------- //

@import url('https://fonts.googleapis.com/css2?family=Roboto');

$ff-main: 'Roboto', sans-serif;

:root {
  font-size: 16px;

  --fs-200: .75rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.625rem;
  --fs-800: 1.75rem;
  --fs-900: 1.875rem;
  --fs-1000: 2rem;

  @media(min-width: $bp-tablet) {
    --fs-200: 1rem;
    --fs-300: 1.125rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 1.75rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;
    --fs-1000: 4rem;
  }
}

// ---------- Colors ---------- //

$black: #000;
$almost-black: #222;
$dark-gray: #444;
$medium-dark-gray: #595959;
$medium-gray: #888;
$medium-light-gray: #ccc;
$light-gray: #f5f5f5;
$almost-white: #f9f9f9;
$white: #fff;

$light-blue: #f9f9ff;
$medium-light-blue: #eef;

$clr-accept: #00804f;

$tea-gradient: linear-gradient(
    to right, 
    darkgreen 0%,
    #96D121 10%,
    #b7d121 20%,
    #E9DF00 40%,
    #FFBF29 60%,
    #FF8417 70%,
    #c23d00 80%,
    #912e00 90%,
    #3d1300 100%);