img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
    height: auto;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    height: 0;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.slide {
    display: none;
}

.slideshow-prev, 
.slideshow-next {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: calc(50% - 5rem);
    padding: 4rem 6px;
    color: $clr-medium-dark-gray;
    opacity: .5;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0 5px 5px 0;
    transition: 0.6s ease;
}

.slideshow-next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.slideshow-prev:hover, 
.slideshow-next:hover {
    background-color: $clr-medium-dark-gray;
    opacity: .5;
    color: $clr-light-gray;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}