@import url('https://fonts.googleapis.com/css2?family=Roboto');

$main-font: 'Roboto', sans-serif;

:root {
    --fs-400: 1rem;
    --fs-500: 1.1rem;
    --fs-600: 1.2rem;
    --fs-700: 1.3rem;
    --fs-800: 1.4rem;
}

@media(min-width: 400px) {
    :root {
        --fs-300: 1rem;
        --fs-400: 1.1rem;
        --fs-500: 1.2rem;
        --fs-600: 1.3rem;
        --fs-700: 1.4rem;
        --fs-800: 1.5rem;
    }
}

@media(min-width: 600px) {
    :root {
        --fs-300: 1.1rem;
        --fs-400: 1.2rem;
        --fs-500: 1.3rem;
        --fs-600: 1.4rem;
        --fs-700: 1.5rem;
        --fs-800: 1.6rem;
    }
}