form {
    margin: 3rem .5rem;
    padding: 2rem;
    background-color: $clr-order-bg;

    h2 {
        text-align: center;
    }
}

section.order {
    padding: 2rem 0;

    h3 {
        padding: 1.5rem 0;
    }

    h4 {
        padding-top: 0;
        padding-bottom: .5rem;
    }
}

p.order-info {
    font-size: var(--fs-400)
}

p.order-price {
    text-align: right;
    font-weight: bold;
    font-size: var(--fs-500)
}


p.order-price-disclaimer {
    column-span: 2;
    text-align: right;
    font-size: var(--fs-300);
    color: $clr-medium-gray;
}

div.form {
    padding-bottom: 1rem;
}

label {
    display: block;
    font-size: var(--fs-300);
}

input[type=text],
textarea {
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    padding: .5rem 1rem;
    margin-top: .5rem;
    width: 100%;
    font-size: var(--fs-400);
    background-color: $clr-light-gray;
}

input[type=text],
textarea {
    outline: none;
}

textarea {
    resize: vertical;
}

input[type=text]:focus,
textarea:focus {
    border: 1px $clr-order-highlight solid;
}

button[type=submit] {
    padding: .5rem 3rem;
    font-size: var(--fs-600);
    border-top: none;
    border-left: none;
    background-color: $clr-order-button;
}

button[type=submit]:hover {
    background-color: $clr-order-button-hover;
    cursor: pointer;
}

p.form-description {
    padding-top: .25rem;
    color: $clr-medium-gray;
    font-size: var(--fs-200);
}