.page__header {
  box-sizing: border-box;
  margin-inline: auto;
  padding: 1rem .5rem;
  height: 5rem;
  width: 100%;
  max-width: $content-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.primary-nav {
  @media (max-width: $bp-tablet) {
    position: fixed;
    inset: 0 0 0 10rem;
    z-index: 100;
    padding: calc(min(8rem, 25vh)) 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: $light-gray;
    font-size: var(--fs-700);
    background-color: rgba($black, .65);
    transform: translateX(100%);
    transition: transform 350ms ease-in;

    @supports (backdrop-filter: blur(1rem)) {
      background-color: rgba($black, .2);
      backdrop-filter: blur(1rem);
    }

    &__group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__link,
    &__link:hover {
      color: inherit;
    }

    &__auth,
    &__profile {
      all: unset;
      cursor: pointer;
      color: inherit;

      &:hover {
        color: inherit;
      }
    }

    &__profile img {
      display: none;
    }
  }

  @media (min-width: $bp-tablet) {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - 13rem) 13rem;
    place-items: center;
    color: $medium-dark-gray;
    font-size: var(--fs-400);
    font-weight: 500;
    
    &__group {
      width: 100%;
      display: flex;
      justify-content: right;
      gap: clamp(1rem, 5vw, 3rem);
    }
    
    &__link,
    &__link:hover {
      color: inherit;
    }
  
    &__link::after {
      content: '';
      margin: 1px auto;
      height: 2px;
      width: 0;
      display: block;
      background-color: $medium-dark-gray;
      transition: width .3s;
    }
  
    &__link--current::after,
    &__link:hover::after {
      width: 75%;
      transition: width .3s;
    }

    &__auth,
    &__profile {
      all: unset;
      cursor: pointer;
      width: 100%;
      color: inherit;
      font-size: var(--fs-300);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: .5rem;

      &:hover {
        color: $dark-gray;
      }
    }

    &__auth::before,
    &__profile img {
      width: var(--fs-200);
      aspect-ratio: 1;
    }

    &__auth {
      &::before {
        content: '';
        background-image: url("/assets/img/icons/login.png");
        background-size: cover;
      }

      &:hover::before {
        background-image: url("/assets/img/icons/login-hover.png");
      }
    }
  }
}

.primary-nav[data-expanded="true"] {
  transform: translateX(0%);
}

.nav-toggle {
  display: none;

  @media (max-width: $bp-tablet) {
    all: unset;
    position: relative;
    right: 1rem;
    z-index: 999;
    height: 24px;
    width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-image: url();
    background-repeat: no-repeat;

    &__open,
    &__close {
      position: absolute;
      top: 0;
      transition: opacity 350ms ease-in;
    }

    &__close {
      opacity: 0;
    }

    &[aria-expanded="true"] {
      .nav-toggle {
        &__open {
          opacity: 0;
        }

        &__close {
          opacity: 1;
        }
      }
    }
  }
}