a {
    text-decoration: none;
    color: $clr-link;
}

a:hover {
    background-image: $clr-tea-gradient;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

header {
    a.logo:hover {
        text-decoration: none;
    }

    nav {
        a {
            display: inline-block;
            margin: 0 0.3rem;
        }

        a::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $clr-nav-link;
            transition: width .3s;
        }
        
        a.current::after {
            content: '';
            margin: 0 auto;
            display: block;
            width: 80%;
            height: 2px;
            background: $clr-nav-link;
        }
        
        a:hover::after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 80%;
            height: 2px;
            transition: width .3s;
        }
    }
}