* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr-bg;
    font-family: $main-font;
    font-size: var(--fs-400);
    line-height: 1.3;
}

.content {
    width: 60ch;
    max-width: 100vw;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a.logo {
        color: $clr-dark-gray;
        font-weight: bold;
    }

    .logo:hover {
        background-image: $clr-tea-gradient;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    p:first-child {
        color: $clr-medium-gray;
        font-size: var(--fs-500);
    }

    p:last-child {
        font-size: var(--fs-600);
    }
    
    nav {
        padding-right: 1rem;
        font-size: var(--fs-400);
    }

    nav > a,
    nav > a:hover {
        color: $clr-nav-link;
    }
}

@media (min-width: 500px) {
    header {
        nav {
            padding-right: 3rem;
        }
    }
}

main {
    padding: 1rem .5rem;
}

footer {
    margin-top: auto;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    color: $clr-medium-gray;
    font-size: var(--fs-200);
}

.mouseover {
    text-decoration: underline dotted;
    cursor: help;
}