* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 600px;
    max-width: 100vw;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    nav {
        padding-right: 1rem;
    }
}

main {
    padding: 1rem .5rem;
}

footer {
    margin-top: auto;
    padding: 2em 0;
    display: flex;
    justify-content: center;
}