.brand {
  text-decoration: none;
  line-height: var(--fs-600);
  font-weight: bold;
  
  :first-child {
    font-size: var(--fs-500);
    color: $medium-dark-gray;
  }
  
  :last-child {
    font-size: var(--fs-600);
    color: $dark-gray;
  }

  &:hover span:last-child{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $tea-gradient;
  }
}

.primary-nav {

  @media (max-width: $bp-tablet) {
    position: fixed;
    inset: 0 0 0 10rem;
    z-index: 100;
    padding: calc(min(8rem, 25vh)) 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: rgba($black, .65);
    transform: translateX(100%);
    transition: transform 350ms ease-in;

    @supports (backdrop-filter: blur(1rem)) {
      background-color: rgba($black, .2);
      backdrop-filter: blur(1rem);
    }

    &__link {
      color: $almost-white;
      font-size: var(--fs-700);

      &:hover {
        color: $white;
      }
    }
  }

  @media (min-width: $bp-tablet) {
    padding-right: 1rem;
    display: flex;
    gap: clamp(1rem, 5vw, 3rem);
    color: $almost-black;
    font-size: var(--fs-400);
    font-weight: 500;
    
    &__link,
    &__link:hover {
      color: $medium-dark-gray;
    }
  
    &__link::after {
      content: '';
      margin: 1px auto;
      height: 2px;
      width: 0;
      display: block;
      background-color: $medium-dark-gray;
      transition: width .3s;
    }
  
    &__link--current::after,
    &__link:hover::after {
      width: 75%;
      transition: width .3s;
    }
  }
}

.primary-nav[data-visible="true"] {
  transform: translateX(0%);
}

.nav-toggle {
  display: none;

  @media (max-width: $bp-tablet) {
    all: unset;
    position: absolute;
    right: 2rem;
    z-index: 999;
    height: 24px;
    width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-image: url(/assets/img/nav-toggle-open.png);
    background-repeat: no-repeat;

    &[aria-expanded="true"] {
      background-image: url(/assets/img/nav-toggle-close.png);
    }
  }
}