div.order {
    margin: 3rem .5rem;
    padding: 3rem 1rem;
    background-color: $clr-order-bg;
}

@media (min-width: $bp-1) {
    div.order {
        padding: 3rem 2rem;
        background-color: $clr-order-bg;
    }
}

@media (min-width: $bp-2) {
    div.order {
        padding: 3rem 3rem;
        background-color: $clr-order-bg;
    }
}

.tea-info {
    color: $clr-dark-gray;
}

.price {
    font-weight: bold;
}

p.order-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

button.order {
    margin: 1rem auto;
    padding: 0.8rem 3rem;
    font-size: var(--fs-600);
    border-top: none;
    border-left: none;
    color: $clr-dark-gray;
    background-color: $clr-button;
}

button.order:hover {
    color: $clr-black;
    background-color: $clr-button-hover;
    cursor: pointer;
}

.order-status {
    margin: 0 3rem;
    color: $clr-medium-gray;
    text-align: center;
    font-size: var(--fs-300);
}