.price {
    font-weight: bold;
}

p.order-button {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

button.order {
    margin: 1rem auto;
    padding: 0.8rem 3rem;
    font-size: var(--fs-600);
    border-top: none;
    border-left: none;
    color: $clr-dark-gray;
    background-color: $clr-order-button;
}

button.order:hover {
    color: $clr-black;
    background-color: $clr-order-button-hover;
    cursor: pointer;
}

#order-disclaimer {
    margin: 0 3rem;
    color: $clr-medium-gray;
    text-align: center;
    font-size: var(--fs-300);
}