html {
  scrollbar-gutter: stable;
    
  *[data-display="none"] {
    display: none;
  }
}

body {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.content {
  box-sizing: border-box;
  margin-top: clamp(2.5rem, calc(1rem + 5vw), 4rem);
  margin-bottom: clamp(7rem, 10vw, 10rem);
  margin-inline: auto;
  padding-inline: .5rem;
  width: $content-width;
  max-width: 100%;
}

.about {
  display: grid;
  gap: $content-gap;
}