div.tea {
    margin: 3rem .5rem;

    h1,
    h2,
    h3 {
        text-align: center;
    }

    p.purchase-info {
        text-align: center;
        color: $clr-medium-gray;
    }

    
}

table {
    width: 100%;
    margin: 1rem 0;
    border: solid $clr-light-gray 1px;
}

tr:nth-child(even) {
    background-color: $clr-table-light;
}

tr:nth-child(odd) {
    background-color: $clr-table-medium;
}

th {
    padding: .5rem 0;
    background-color: $clr-table-dark;
}

td {
    padding: .25rem .5rem;
}

table.tasting-notes {
    th {
        width: 12ch;
    }

    td:first-child {
        width: 8ch;
    }
}

td:first-child {
    width: 15ch;
}