$border-width: 2px;
$border-outside: $border-width $clr-table-border solid;
$border-inside: $border-width $clr-bg solid;
$border-inactive: $border-width $clr-table-medium solid;

div.tea {
    margin: 3rem .5rem;
}

table.tea-details {
    width: 100%;
    margin: 1rem 0;
    border-collapse: collapse;

    col {
        width: 11%;
    }
}

.tea-summary {
    text-align: center;
}

tbody {
    border: $border-outside;
}

tr:nth-child(odd) {
    background-color: $clr-table-medium;
}

tr:nth-child(even) {
    background-color: $clr-table-light;
}

th.table-swap-active,
th.table-swap-inactive {
    padding: .8rem;
    cursor: pointer;
}

th.table-swap-active:hover,
th.table-swap-inactive:hover {
    color: black;
    border: $border-width $clr-button-hover solid;
    background-color: $clr-button-hover;
}

thead {
    th.table-swap-inactive {
        border-top: $border-inactive;
        border-left: $border-inactive;
        border-bottom: $border-outside;
        font-weight: 500;
        color: $clr-medium-gray;
        background-color: $clr-table-light;
    }

    th.table-swap-inactive:last-child {
        border-right: $border-inactive;
    }

    th.table-swap-active {
        border: $border-outside;
        border-bottom: $border-width $clr-table-dark solid;
        background-color: $clr-table-dark;
    }

    th.table-swap-active:first-child {
        border-bottom: $border-inside;
    }
}

tbody {
    border: $border-outside;

    th {
        padding: .5rem 0;
        border-top: $border-inside;
        background-color: $clr-table-dark;
    }
}

td {
    border-left: $border-inside;
    padding: .5rem;
}