$border-outside: 2px $clr-table-border solid;
$border-inside: 2px $clr-bg solid;
$border-inactive: 2px $clr-table-medium solid;

div.tea {
    margin: 3rem .5rem;
}

table.tea-details {
    width: 100%;
    margin: 1rem 0;
    border-collapse: collapse;

    col {
        width: 11%;
    }
}

tbody {
    border: $border-outside;
}

tr:nth-child(odd) {
    background-color: $clr-table-medium;
}

tr:nth-child(even) {
    background-color: $clr-table-light;
}

th.table-swap-active,
th.table-swap-inactive {
    padding: .8rem;
    cursor: pointer;
}

th.table-swap-active:hover,
th.table-swap-inactive:hover {
    background-color: $clr-button-hover;
}

thead {
    th.table-swap-inactive {
        border-top: $border-inactive;
        border-left: $border-inactive;
        border-bottom: $border-outside;
        background-color: $clr-table-light;
        color: $clr-medium-gray;
    }

    th.table-swap-inactive:last-child {
        border-right: $border-inactive;
    }

    th.table-swap-active {
        border: $border-outside;
        border-bottom: 2px $clr-table-dark solid;
        background-color: $clr-table-dark;
    }

    th.table-swap-active:first-child {
        border-bottom: $border-inside;
    }
}

tbody {
    border: $border-outside;

    th {
        padding: .5rem 0;
        border-top: $border-inside;
        background-color: $clr-table-dark;
    }
}

td {
    border-left: $border-inside;
    padding: .5rem;
}