h2.terms {
    padding: 2rem 0;
    text-align: center;
}

p.terms {
    text-align: center;
    color: $clr-dark-gray;
}

ol.terms {
    padding-block: 2.5rem;
    background-color: $clr-order-bg;
    color: $clr-dark-gray;
    font-size: var(--fs-300);
}

ol.terms > li {
    padding: .5rem 0;
}

button.terms {
    margin: 3rem auto;
    width: 100%;
    border: none;
    padding: .5rem;
    cursor: pointer;
    color: $clr-medium-gray;
    background-color: $clr-order-bg;
}