div.TOS {
    margin: .5rem;
}

h3.TOS {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: $clr-tos-bg;
}

ol.TOS {
    background-color: $clr-tos-bg;
    color: $clr-dark-gray;
    font-size: var(--fs-300);
}

ol.TOS > li {
    padding: .25rem;
}

button.TOS {
    margin-bottom: 2rem;
    width: 100%;
    border: none;
    padding: .5rem;
    cursor: pointer;
    color: $clr-medium-gray;
    background-color: $clr-tos-bg;
}

button.TOS:hover {
    background-color: $clr-tos-button-hover;
}

#TOS-long,
#HideTosButton {
    display: none;
}