div.TOS {
    margin: .5rem;
}

h3.TOS {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

ol.TOS > li {
    padding: .25rem;
}

.mouseover {
    text-decoration: underline dotted;
    cursor: help;
}

.TosButton {
    margin-bottom: 2rem;
    width: 100%;
    border: none;
    padding: .5rem;
    cursor: pointer;
}

#TOS-long {
    display: none;
}

#HideTosButton {
    display: none;
}