.almost-black {
  color: $almost-black !important;
}

.dark-gray {
  color: $dark-gray !important;
}

.medium-dark-gray {
  color: $medium-dark-gray !important;
}

.medium-gray {
  color: $medium-gray !important;
}

.fs-300 {
  font-size: var(--fs-300) !important;
}

.fs-500 {
  font-size: var(--fs-500) !important;
}

.fs-600 {
  font-size: var(--fs-600) !important;
}

.italic {
  font-style: italic;
}

.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center !important;
}

.mouseover {
  @include dotted-underline;
  cursor: help;
}

.dotted-link {
  @include dotted-underline;

  &:hover {
    color: inherit;
    opacity: .75;
  }
}