.page-footer {
  cursor: default;
  margin-top: auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: $medium-gray;
  background-color: $black;

  &__content {
    box-sizing: border-box;
    padding: 1rem .5rem;
    max-width: $content-width;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    @media (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 3rem;
    }
  }

  &__link {
    color: inherit;
    font-size: var(--fs-400);

    &:hover {
      color: $medium-light-gray;
    }
  }
}


.small-print {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-200);
  color: $medium-dark-gray;
}