@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'Roboto';
}

:root {
    --olive-800: #35492E;
    --olive-700: #566b4e;
    --olive-600: #7a9071;
    --olive-500: #9fb696;
    --olive-300: #c6ddbc;
    --olive-100: #ebe9d7;
}

.text-olive-800 {
    color: var(--olive-800) ;
}

.hover\:text-olive-800:hover {
    color: var(--olive-800) ;
}

.bg-olive-800 {
    background-color: var(--olive-800) !important;
}

.border-olive-800 {
    border: 1px solid var(--olive-800) !important;
}

.hover\:bg-olive-800:hover {
    background-color: var(--olive-800) !important;
}

.hover\:bg-olive-700:hover {
    background-color: var(--olive-700) !important;
}

.text-olive-700 {
    color: var(--olive-700) !important;
}

.hover\:text-olive-700:hover {
    color: var(--olive-700) ;
}

.hover\:border-olive-700:hover {
    border: 1px solid var(--olive-700) !important;
}

.text-olive-600 {
    color: var(--olive-600) !important;
}

.bg-olive-600 {
    background-color: var(--olive-600) !important;
}

.hover\:bg-olive-600:hover {
    background-color: var(--olive-600) !important;
}

.text-olive-500 {
    color: var(--olive-500) !important;
}

.hover\:text-olive-500:hover {
    color: var(--olive-500) !important;
}

.bg-olive-500 {
    background-color: var(--olive-500) !important;
}

.hover\:bg-olive-500:hover {
    background-color: var(--olive-500) !important;
}

.text-olive-300 {
    color: var(--olive-300) !important;
}

.fill-olive-300 {
    fill: var(--olive-300);
}

.hover\:fill-olive-300 {
    fill: var(--olive-300);
}

.hover\:text-olive-300 {
    color: var(--olive-300) !important;
}

.bg-olive-300 {
    background-color: var(--olive-300) !important;
}

.hover\:bg-olive-300:hover {
    background-color: var(--olive-300) !important;
}

.text-olive-100 {
    color: var(--olive-100) !important;
}

.bg-olive-100 {
    background-color: var(--olive-100) !important;
}

.hover\:bg-olive-100:hover {
    background-color: var(--olive-100) !important;
}

.group:hover .group-hover\:bg-olive-100 {
    background-color: var(--olive-100) !important;
}

.group:hover .group-hover\:text-olive-100 {
    color: var(--olive-100) !important;
}
