---
import DetailsRow from "./DetailsRow.astro"

const { details } = Astro.props
---
<table class="w-full max-w-xl xl:max-w-2xl table-fixed text-left text-xl">
    <tbody>
        <DetailsRow 
            group={Object.entries(details.categorization)} 
            title="Sorte" 
            dictionary={{
                "tea": "Teesorte",
                "plant": "Strauchsorte"
            }}
        />
        <DetailsRow 
            group={Object.entries(details.origin)} 
            title="Herkunft" 
            dictionary={{
                "country": "Land",
                "province": "Provinz",
                "region": "Region",
                "town": "Ortschaft",
                "elevation": "Höhe"
            }}
        />
        <DetailsRow 
            group={Object.entries(details.production)} 
            title="Verarbeitung" 
            dictionary={{
                "harvest": "Ernte",
                "picking": "Pflückung",
                "oxidation": "Oxidation",
                "roast": "Röstung",
                "roastMethod": "Röstungsmethode"
            }}
        />
    </tbody>
</table>