---
const { group, title, dictionary } = Astro.props
---
<tr>
    <th colspan="2" class="pb-2 align-top text-xl">
        {title}
    </th>
</tr>
{
    group.map(([key, value]: string[], index: number) => (
        <tr>
            <td class="pr-2 align-top text-gray-700">{dictionary[key!]}</td>
            <td class={`pl-2 align-top ${index === group.length - 1 && "pb-6"} ${value === null && "text-gray-500"}`} title={value === null ? "keine Angabe" : ""}>
                {value === null ? "k.\u200AA." : value }
            </td>
        </tr>
    ))
}