---
import Subheading from '../../components/page/Subheading.astro'

const { gongfu, classList } = Astro.props
const amountEnglishToGerman = {
  "weight": "Menge",
  "orVolume": "",
  "ball": "Anzahl Kugeln",
}

const timesEnglishToGerman = {
  "rinse": "Abguss",
  "firstInfusion": "Erster Aufguss",
  "secondInfusion": "Zweiter Aufguss",
  "laterInfusions": "Weitere",
}

const isGraytext = (key: string, value: string) => {
  return amountEnglishToGerman[key as keyof typeof amountEnglishToGerman] == ""
      || value === null
}
---
<table class:list={[classList, "table-fixed text-left text-xl"]}>
  <tr>
    <th class="w-1/2 pb-2 font-bold" colspan="2">
      <Subheading>Zubereitung</Subheading>
    </th>
  </tr>
  <tr>
    <td class="pr-2 align-top text-slate-700">Temperatur</td>
    <td class="pl-2 align-top" title="Temperatur">
      {
        gongfu.temperature ?? "k.\u200AA."
      }
    </td>
  </tr>
  {
    Object.entries(gongfu.amount).map(([key, value], index) => {
      return (
        <tr>
          <td class={`pr-2 align-top text-slate-700 ${index === 0 && "pt-3"}`}>
            {
              amountEnglishToGerman[key as keyof typeof amountEnglishToGerman]
            }
          </td>
          <td class={`pl-2 align-top ${isGraytext(key, value as string) && "text-slate-500"} ${index === 0 && "pt-3"}`} title={value === null ? "keine Angabe" : ""}>
            {
              value === null ? "k.\u200AA." : value
            }
          </td>
        </tr>
      )})
  }
  {
    Object.entries(gongfu.times).map(([key, value], index) => {
      return (
        <tr>
          <td class={`pr-2 align-top text-slate-700 ${index === 0 && "pt-3"}`}>
            {
              timesEnglishToGerman[key as keyof typeof timesEnglishToGerman]
            }
          </td>
          <td class={`pl-2 align-top ${index === 0 && "pt-3"} ${isGraytext(key, value as string) && "text-slate-500"}`} title={value === null ? "keine Angabe" : ""}>
            {
              value === null ? "k.\u200AA." : value
            }
          </td>
        </tr>
      )})
  }
</table>