---
import PropertyRow from "./PropertyRow.astro"

const { properties } = Astro.props
---
<table class="w-full max-w-xl xl:max-w-2xl table-fixed text-left text-md sm:text-lg md:text-xl">
    <tbody>
        <PropertyRow 
            group={Object.entries(properties.categorization)} 
            title="Sorte" 
            dictionary={{
                "tea": "Teesorte",
                "plant": "Strauchsorte"
        }} />
        <PropertyRow 
            group={Object.entries(properties.origin)} 
            title="Herkunft" 
            dictionary={{
                "country": "Land",
                "province": "Provinz",
                "region": "Region",
                "town": "Ortschaft",
                "elevation": "Höhe"
        }} />
        <PropertyRow 
            group={Object.entries(properties.production)} 
            title="Verarbeitung" 
            dictionary={{
                "harvest": "Ernte",
                "picking": "Pflückung",
                "oxidation": "Oxidation",
                "roast": "Röstung",
                "roastMethod": "Röstungsmethode"
        }} />
    </tbody>
</table>