section.blog-post {
    padding-bottom: 3rem;
    display: grid;
    grid-gap: .5rem;

    a:hover ~ a {
        h1 {
            color: $clr-black;
        }
    }
}

.blog-separator {
    padding: .1rem 0;
    font-size: var(--fs-500);
    color: black;
    border-top: 1px black dashed;
    border-bottom: 1px black dashed;
}

.blog-post-header {
    h1 {
        color: $clr-dark-gray;
    }

    h2 {
        color: $clr-medium-dark-gray;
        font-size: var(--fs-700);
    }
}

.blog-post-header:hover h1 {
    color: $clr-black;
}

@media (min-width: $bp-1) {
    section.blog-post {
        margin: 2.5rem 0;
        height: 240px;
        grid-template-columns: 1fr 1fr;
    }

    .blog-post-header {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: $bp-2) {  
    section.blog-post {
        grid-template-columns: 2fr 3fr;
        grid-gap: 1rem;
    }

    .blog-post-header {
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        
        header {
            height: 2rem;
        }
    }

    .blog-post-image {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 1;
    }
}