.order-form {
    margin-top: 2rem;
    padding: 1rem;
    background-color: $clr-order-bg;

    h1 {
        font-size: var(--fs-800);
        padding: 3rem;
        text-align: center;
    }

    ol {
        padding: 2rem;
    }

    li {
        padding-bottom: .5rem;
    }
}

.order-form-section {
    h2 {
        padding: 1rem 0;
        font-size: var(--fs-700);
    }

    h3 {
        padding-top: 2rem;
        padding-bottom: .5rem;
    }
}

@media (min-width: $bp-2) {
    .order-terms,
    .order-form {
        padding: 4rem;
    }

    .order-form-section {
        padding: 0 3rem;
    }
}

.order-form-subtitle {
    padding-bottom: 3rem;
    color: $clr-medium-dark-gray;
    text-align: center;
}

.form {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

.form-discord,
.form-name,
.form-street,
.form-city {
    display: grid;
    grid-gap: .5rem;
}

.form-discord {
    grid-template-columns: 3fr 1fr;
}

.form-name {
    grid-template-columns: 1fr 1fr;
}

.form-street {
    grid-template-columns: 4fr 1fr;
}

.form-city {
    grid-template-columns: 1fr 3fr;
}

label {
    padding-left: .2rem;
    display: block;
    font-size: var(--fs-300);
}

p.order-buttons {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

button.order,
button.order-closed {
    padding: 0.8rem 3rem;
    width: 13rem;
    font-size: var(--fs-600);
    border-top: none;
    border-left: none;
    background-color: $clr-button;
}

button.order {
    color: $clr-dark-gray;
}

button.order-closed {
    color: $clr-medium-dark-gray;
}

button.order:hover {
    color: $clr-black;
    background-color: $clr-button-hover;
    cursor: pointer;
}

button.order-closed:hover {
    cursor: pointer;
}

input[type=text],
textarea {
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    padding: .5rem 1rem;
    margin-top: .5rem;
    width: 100%;
    font-size: var(--fs-400);
    background-color: $clr-light-gray;
}

input[type=text],
textarea {
    outline: none;
}

textarea {
    resize: vertical;
}

input[type=text]:focus,
textarea:focus {
    border: 1px $clr-order-highlight solid;
}

input[type=text].invalid {
    border: 1px red solid;
}

button[type=submit] {
    padding: .5rem 3rem;
    font-size: var(--fs-600);
    border-top: none;
    border-left: none;
    background-color: $clr-submit;
}

button[type=submit]:hover {
    background-color: $clr-submit-hover;
    color: white;
    cursor: pointer;
}

p.form-description {
    padding: .25rem 0;
    color: $clr-medium-gray;
    font-size: var(--fs-200);
}

p.form-alert {
    padding-top: 2rem;
    margin: 0;
    min-height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: red;
    font-size: var(--fs-200);
}

.summary-person,
.summary-addition,
.summary-order {
    padding: 1rem;
}

.summary-person {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.summary-order table {
    width: 100%;
    border-collapse: collapse;
}

.summary-order table td:last-child {
    text-align: right;
}

.summary-order table tr:last-child td {
    margin-top: 2rem;
    font-weight: bold;
    border-bottom: 1px solid $clr-medium-gray;
}

// ----- Checkboxes ----- //

.package-selection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
}

.container:first-child {
    text-align: right;
}

.container:last-child {
    text-align: left;
}

.container {
    position: relative;
    display: grid;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.package-selector {
    padding: 1rem 2rem;
    border: dotted 1px $clr-medium-dark-gray;
    cursor: pointer;
}

.package-selector:hover {
    background-color: $clr-button;
}

.checkbox-package {
    display: none;
}

.checkbox-package:checked ~ div.package-selector {
    background-color: $clr-button-hover;
    border: solid 1px white;
}

.checkbox-price {
    padding: 1rem 0;
    font-weight: bold;
}

.checkbox-tea {
    color: $clr-medium-dark-gray;
    font-size: var(--fs-300);
}