$border-radius: 5px;

.glossary {
  display: grid;
  gap: $content-gap;

  &__entries {
    display: grid;
    gap: 1rem;
  }

  &__entry {
    font-size: var(--fs-400);
    line-height: var(--fs-600);
    margin: 0 auto;
    max-width: calc(#{$p-width} + 8rem);
    border-radius: $border-radius;
  }
  
  &__header {
    border-radius: $border-radius;
    padding: .7rem clamp(1rem, 5vw, 3rem);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: $dark-gray;
    font-weight: bold;
    background-color: $light-gray;
  
    &::after {
      content: '\02795';
      opacity: .6;
      font-size: var(--fs-200);
    }
  
    &[data-expanded="true"] {
      border-radius: $border-radius $border-radius 0 0;

      &::after {
        content: '\2796';
      }
    }
  
    &:hover::after {
      opacity: 1;
    }

    &:hover {
      color: $black;
    }
  }
  
  &__panel {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 clamp(1rem, 5vw, 3rem);
    color: $dark-gray;
    border-radius: 0 0 $border-radius $border-radius;
    background-color: $almost-white;
    
    div:first-child,
    p:first-child {
      margin-top: 1.5rem;
    }
    
    &[data-expanded="true"] {
      border-top: 1px solid $medium-light-gray;
    }
  }

  &__addition {
    margin: 0;
    margin-bottom: 1rem;

    p {
      margin: 0;
      color: $medium-dark-gray;

      span:last-child {
        font-style: italic;
      }
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 2rem;
  }

  &__link {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
  
    &:hover {
      color: inherit;
    }
  }
}
