a.glossary {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a.glossary:hover {
    color: $clr-black;
}

.glossary-entry {
    padding: 1rem 0;
}

.glossary-term {
    font-weight: bold;
}

.glossary-explanation {
    color: $clr-dark-gray;
}