.glossary {
  display: grid;
  gap: $content-gap;

  &__entry {
    font-size: var(--fs-400);
    line-height: var(--fs-600);
    margin: 1rem auto;
    max-width: calc(#{$p-width} + 8rem);
  }
  
  &__header {
    border-radius: 5px;
    padding: .7rem clamp(1rem, 5vw, 3rem);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: $dark-gray;
    font-weight: bold;
    background-color: $almost-white;
  
    &::after {
      content: '\02795';
      opacity: .6;
      font-size: var(--fs-200);
    }
  
    &--expanded {
      border-radius: 5px 5px 0 0;
    }
  
    &--expanded::after {
      content: '\2796';
    }
  
    &:hover::after {
      opacity: 1;
    }

    &:hover {
      color: $black;
      background-color: $light-gray;
    }

    &:hover ~ .glossary__panel {
      border-color: $light-gray;
    }
  }
  
  &__panel {
    border-inline: 5px solid $almost-white;
    border-radius: 0 0 5px 5px;
    padding: 0 clamp(1rem, 5vw, 3rem);
    color: $dark-gray;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    div:first-child,
    p:first-child {
      margin-top: 1.5rem;
    }
  }

  &__panel[data-expanded="true"] {
    border-bottom: 5px solid $almost-white;
  }

  &__addition {
    margin: 0;
    margin-bottom: 1rem;

    p {
      margin: 0;
      color: $medium-dark-gray;

      span:last-child {
        font-style: italic;
      }
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 2rem;
  }

  &__link {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
  
    &:hover {
      color: inherit;
    }
  }
}
