.glossary {
    &__entry {
        color: $almost-black;
        font-size: var(--fs-400);
        line-height: var(--fs-600);
        margin: 1rem auto;
        max-width: $p-width;
    }

    &__term {
        display: inline;
        color: $black;
        font-weight: bold;
    }
    
    &__link {
        color: inherit;
        text-decoration: underline;
        text-decoration-style: dotted;
    
        &:hover {
            color: inherit;
        }
    }
}
