div.order-overview {
    margin: 3rem 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $bp-2) {
    div.order-overview {
        grid-template-columns: repeat(3, 1fr);
    }
}

div.order-tea {
    width: 200px;
}

span.order-tea-type,
span.order-tea-price {
    color: $clr-medium-dark-gray;
}

span.order-tea-type {
    float: left;
}

span.order-tea-price {
    float: right;
}

.price {
    font-weight: bold;
}

p.order-button {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

button.order,
button.order-closed {
    padding: 0.8rem 3rem;
    font-size: var(--fs-600);
    border-top: none;
    border-left: none;
    background-color: $clr-button;
}

button.order {
    color: $clr-dark-gray;
}

button.order-closed {
    color: $clr-medium-dark-gray;
}

button.order:hover {
    color: $clr-black;
    background-color: $clr-button-hover;
    cursor: pointer;
}

button.order-closed:hover {
    cursor: pointer;
}

.order-status {
    margin: 0 3rem;
    color: $clr-medium-dark-gray;
    text-align: center;
    font-size: var(--fs-300);
}

a.preview img.hover {
    display: none;  
}

a.preview:hover img.hover {
    display: inline-block;  
}

a.preview:hover img.thumb {
    display: none;  
}