section.order-package {
    margin: 1rem 0;
    
    h2,
    h3 {
        text-align: center;
    }

    h2 {
        padding-bottom: 1rem;
        font-size: var(--fs-600);
    }

    h3 {
        padding-top: 1rem;
        font-size: var(--fs-400);
        color: $clr-medium-dark-gray;
    }

    p {
        padding: .5rem 0;
    }

    table.package-status {
        padding: 2rem 0;
        width: 100%;
        
        td:first-child {
            vertical-align: top;
        }

        td:last-child {
            text-align: right;
        }

        p.package-price,
        p.package-shipping {
            padding: 0;
        }

        p.package-shipping {
            color: $clr-medium-gray;
        }
    }
}

.package-overview {
    margin: 2rem 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $bp-2) {
    div.package-overview {
        grid-template-columns: repeat(3, 1fr);
    }
}

div.package-tea {
    width: 200px;
}

span.package-tea-type,
span.package-tea-price {
    color: $clr-medium-dark-gray;
}

span.package-tea-type {
    float: left;
}

span.package-tea-price {
    float: right;
}

.price {
    font-weight: bold;
}

p.order-button {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

button.order,
button.order-closed {
    padding: 0.8rem 3rem;
    font-size: var(--fs-600);
    border-top: none;
    border-left: none;
    background-color: $clr-button;
}

button.order {
    color: $clr-dark-gray;
}

button.order-closed {
    color: $clr-medium-dark-gray;
}

button.order:hover {
    color: $clr-black;
    background-color: $clr-button-hover;
    cursor: pointer;
}

button.order-closed:hover {
    cursor: pointer;
}

.order-status {
    margin: 0 3rem;
    color: $clr-medium-dark-gray;
    text-align: center;
    font-size: var(--fs-300);
}

a.preview img.hover {
    display: none;  
}

a.preview:hover img.hover {
    display: inline-block;  
}

a.preview:hover img.thumb {
    display: none;  
}