.order-status {
    margin: 0 3rem;
    color: $clr-medium-gray;
    text-align: center;
    font-size: var(--fs-300);
}

.price {
    font-weight: bold;
}

p.order-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}