article.post {
    margin: 2rem auto;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    header,
    .lead {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-items: center;

        .sub-heading {
            text-align: center;
            font-size: var(--fs-500);
            color: $clr-medium-gray;
        }
    }
    
    h1, 
    h2 {
        text-align: center;
    }

    section {
        padding: 1rem 0;

        header {
            padding: 0;
        }
    }

    p {
        margin: 0 auto;
        max-width: 60ch;
        padding: .5em 0;
    }

    ol, ul {
        padding: .5rem 2.5rem;
        width: 50ch;
    }
    
    ul > li {
        padding: .1rem 0;
    }

    .img {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-items: center;

        img {
            padding-bottom: .5rem;
        }
    }

    .subtitle {
        text-align: center;
        font-size: var(--fs-400);
        color: $clr-medium-gray;
    }
}