.profile {
  display: grid;
  place-items: center;
  gap: 1rem;

  &__title {
    font-size: var(--fs-600);
    font-weight: bold;
  }

  &__image {
    height: 250px;
    aspect-ratio: 1;
  }

  p {
    color: $dark-gray;
    text-align: center;
  }
}