.orders {
  margin: 5rem 0;
  display: grid;
  gap: 5rem;

  &__header {
    @include dashed-separator;
    color: $dark-gray;
  }
}

.order-showcase {
  display: grid;
  gap: $content-gap;
}

.learn-more {
  padding: 1rem 0;
  text-align: center;
}

@media (min-width: $bp-tablet) {
  .order-showcase--secondary {
    gap: 0;
    grid-template-columns: auto auto;
    grid-template-rows: 4.5rem auto auto;

    p {
      margin: .5rem 0;
      grid-column: 2;
    }

    .learn-more {
      text-align: left;
    }
  }
}