.order-showcase {
    padding: 3rem 0;
    display: grid;

    &__header {
        font-weight: bold;
        line-height: var(--fs-700);

        .subtitle {
            font-size: var(--fs-500);
        }

        &__title {
            font-size: var(--fs-600);
            color: $black;

            &:hover {
                color: $almost-black;
            }
        }
    }

    &__image img {
        max-height: 300px;
    }
}

@media (min-width: $bp-tablet) {
    .order-showcase {
        grid-template-columns: auto auto;
        grid-gap: .25rem 0;

        &__header {
            margin-top: auto;
        }

        &__image {
            grid-row: span 2;

            img {
                max-height: 400px;
            }
        }

        &__excerpt {
            margin: 0;
            margin-top: .5rem;
            grid-column: 2;
        }
    }
}