.start__header {
  @include dashed-separator;

  &__title {
    color: $medium-dark-gray;
    font-weight: bold;
    line-height: var(--fs-600);
    font-size: var(--fs-400);
  }
}


.order-showcase {
  padding: clamp(2rem, 4vw, 4rem) 0;
  display: grid;

  &__header {
    font-weight: bold;
    line-height: var(--fs-700);

    .subtitle {
      font-size: var(--fs-500);
    }

    &__title {
      font-size: var(--fs-600);
      color: $black;

      &:hover {
        color: $almost-black;
      }
    }
  }

  &__image img {
    max-height: 300px;
  }
}

@media (min-width: $bp-tablet) {
  .order-showcase {
    grid-template-columns: auto auto;
    grid-template-rows: 4.5rem auto;

    &__header {
      height: fit-content;
    }

    &__image {
      grid-row: span 2;

      img {
        max-height: 400px;
      }
    }

    &__excerpt {
      margin: .5rem 0;
      grid-column: 2;
    }
  }
}