.tea {
  display: grid;
  gap: 3rem;

  &__subheader {
    @include dashed-separator;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      color: $medium-gray;
      font-size: var(--fs-500);
    }

    &__controls {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__help {
    display: grid;
    gap: 2rem;

    @media (min-width: $bp-desktop) {
      grid-template-columns: 4fr 3fr;
    }
  }

  &__explanations {
    margin-bottom: auto;
    display: grid;
    gap: 1rem;
  }
}

// -------- Overview ------- //

.tea {
  &__overview {
    display: grid;
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .1rem .5rem;

    a {
      color: $medium-dark-gray;

      &:hover {
        color: $almost-black;
      }
    }

    &__order {
      grid-column: span 2;
      grid-row: 2;
      text-align: center;
    }

    &__prev {
      text-align: right;
    }

    &__next {
      text-align: left;
    }
  }

  &__header {
    text-align: center;
    font-weight: bold;

    &__title {
      color: $almost-black;
      font-size: var(--fs-800);
    }
  
    &__subtitle {
      color: $medium-dark-gray;
      font-size: var(--fs-600);
    }
  }

  &__description {
    &__info {
      margin: .5rem 0;
      padding: 0;
      color: $medium-dark-gray;
      font-weight: normal;
      display: flex;
      justify-content: space-around;

      sup {
        line-height: 0;
      }
    }
  }

  &__images {
    grid-row: 2;
  }

  @media (min-width: $bp-tablet) {
    &__overview {
      grid-template-columns: 4fr 3fr;
      grid-template-rows: 2.5rem 3.5rem 5rem auto;
      grid-gap: 0 2rem;
    }
  
    &__nav {
      margin-top: auto;
      margin-bottom: 1rem;
      grid-row: 2;
      grid-column: 2;
      grid-template-columns: 1fr 5rem 5rem;
  
      &__order {
        grid-column: span 1;
        grid-row: 1;
        text-align: left;
      }
    }
  
    &__images {
      grid-column: 1;
      grid-row: 1 / span 4;
    }
  
    &__header {
      grid-column: 2;
      grid-row: 3;
      text-align: left;
    }
  
    &__description {
      grid-column: 2;
      grid-row: 4;
  
      &__info {
        justify-content: space-between;
      }
    }
  }
}

// -------- Reviews -------- //

$border: 1px solid $medium-light-gray;
$border-radius: 5px;

.tea__reviews {
  display: grid;
  gap: 2rem;
}

.review {
  box-shadow: 2px 2px $medium-light-gray;
  border-radius: $border-radius;
  display: grid;
  
  &__content {
    border-radius: 0 $border-radius $border-radius 0;
    border: 3px $almost-white solid;
    margin: 0;
    padding: 1rem;
    background-color: $almost-white;
  }

  &__user {
    display: grid;
    grid-template-columns: clamp(75px, 5vw, 150px) auto;
    align-items: center;
    gap: 2rem;
    border-radius: $border-radius $border-radius 0 0;
    border-bottom: $border;
    background-color: $light-gray;
  
    &__icon {
      border-radius: $border-radius 0 0 0;
      width: clamp(75px, 5vw, 150px);
    }
    
    &__name {
      color: $medium-dark-gray;
      font-size: var(--fs-600);
    }
  }

  &__buttons {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  @media (min-width: $bp-tablet) {
    grid-template-columns: 225px auto;
    
    &__user {
      border-radius: $border-radius 0 0 $border-radius;
      grid-template-columns: 100%;
      grid-template-rows: 6rem auto;
      gap: 0;
      align-items: center;
      justify-items: center;
      border-bottom: none;
      border-right: $border;
      border-bottom: none;
      padding-bottom: 4rem;
    
      &__name {
        grid-row: 1;
        width: 100%;
        text-align: center;
      }
  
      &__icon {
        grid-row: 2;
        align-self: baseline;
        border-radius: $border-radius;
        width: 150px;
      }
    }

    &__content {
      margin: 0;
      padding: 2rem 3rem;
      border-left: none;
      font-size: var(--fs-400);
    }
  }
}

.review-input {
  &__category {
    margin-top: 1rem;
    margin-bottom: 2rem;

    @media (min-width: $bp-tablet) {
      margin-top: 0;
    }
  }

  &__header {
    margin-bottom: 1rem;
    height: var(--fs-500);
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 1rem;
    color: $almost-black;
    font-weight: bold;
    font-size: var(--fs-600);
  }

  &__toggler {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: $medium-dark-gray;
  }

  &__label {
    padding: 0;
    color: $dark-gray;
    font-size: var(--fs-400);
  }

  &__textarea {
    margin-bottom: 1rem;
  }

  &__simple,
  &__detailed {
    margin: 2rem 0;
  }
}

.preview {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}