.tea {
  display: grid;
  gap: $content-gap;

  &__overview {
    margin-bottom: 3rem;
    display: grid;
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .1rem .5rem;

    a {
      color: $medium-dark-gray;

      &:hover {
        color: $almost-black;
      }
    }

    &__order {
      grid-column: span 2;
      grid-row: 2;
      text-align: center;
    }

    &__prev {
      text-align: right;
    }

    &__next {
      text-align: left;
    }
  }

  &__header {
    text-align: center;
    font-weight: bold;

    &__title {
      color: $almost-black;
      font-size: var(--fs-800);
    }
  
    &__subtitle {
      color: $medium-dark-gray;
      font-size: var(--fs-600);
    }
  }

  &__description {
    &__info {
      margin: .5rem 0;
      padding: 0;
      color: $medium-dark-gray;
      font-weight: normal;
      display: flex;
      justify-content: space-around;

      sup {
        line-height: 0;
      }
    }

    &__text,
    &__details {
      margin: 0;
      height: 18rem;
      display: block;
      overflow: hidden;
      
      &[data-visible="false"] {
        display: none;
      }
    }

    &__controls {
      display: flex;
      justify-content: flex-end;
    }

    &__toggle {
      margin-top: auto;
      border-radius: 25px;
      padding-inline: 3px;
      width: 20px;
      height: 18px;
      cursor: pointer;
      background-color: $medium-light-gray;

      div {
        margin: 3px 0;
        border-radius: 25px;
        height: 12px;
        width: 15px;
        background-color: $almost-white;
        transition: all 350ms;
      }

      div[data-active="true"] {
        transform: translateX(5px);
      }
    }
  }

  &__images {
    grid-row: 2;
  }

  &__subheader {
    @include dashed-separator;
    margin-bottom: 3rem;

    &__title {
      color: $medium-gray;
      font-size: var(--fs-500);
    }
  }
}

@media (min-width: $bp-tablet) {
  .tea {
    &__overview {
      grid-template-columns: 4fr 3fr;
      grid-template-rows: 3rem 4rem 5rem auto;
      grid-gap: 0 2rem;
    }

    &__nav {
      margin-top: auto;
      margin-bottom: 1rem;
      grid-row: 2;
      grid-column: 2;
      grid-template-columns: 1fr 5rem 5rem;

      &__order {
        grid-column: span 1;
        grid-row: 1;
        text-align: left;
      }
    }

    &__images {
      grid-column: 1;
      grid-row: 1 / span 4;
    }

    &__header {
      grid-column: 2;
      grid-row: 3;
      text-align: left;
    }

    &__description {
      grid-column: 2;
      grid-row: 4;

      &__info {
        justify-content: space-between;
      }
    }
  }
}

@media (min-width: $bp-desktop) {
  .tea {
    &__help {
      display: grid;
      gap: 1rem;
      grid-template-columns: 4fr 3fr;
    }
  }
}