$border-width: 2px;
$border-outside: $border-width $clr-table-border solid;
$border-inside: $border-width $clr-bg solid;
$border-inactive: $border-width $clr-table-medium solid;

article.tea {
    margin: 2rem auto;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tea-description {
    display: grid;
    padding: 1rem 0;
}

.tea-summary,
.tea-reference {
    padding-top: 1rem;
    text-align: center;
    
    h1 {
        font-size: var(--fs-800);
    }

    h2 {
        font-size: var(--fs-600);
        color: $clr-medium-dark-gray;
    }
    
    p {
        padding: .5rem 0;
    }
}

.tea-slideshow {
    max-width: 100%;
    max-height: 300px;
    margin: 2rem 0;
    padding: 1rem 0;
    position: relative;
    margin: auto;
}

@media (min-width: $bp-2) {
    .tea-description {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0rem 1rem;
    }

    .tea-slideshow {
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
        padding: 0;
    }

    .tea-heading,
    .tea-summary {
        text-align: left;
    }
}

.tea-preparation {
    padding: 1rem 0;
    max-width: 100%;
}

table.tea-details {
    max-width: 100%;
    width: 60ch;
    margin: 1rem 0;
    border-collapse: collapse;

    col {
        width: 11%;
    }

    tbody {
        border: $border-outside;
    }
    
    tr:nth-child(odd) {
        background-color: $clr-table-medium;
    }
    
    tr:nth-child(even) {
        background-color: $clr-table-light;
    }
    
    th.table-swap-active,
    th.table-swap-inactive {
        padding: .8rem;
        cursor: pointer;
    }
    
    th.table-swap-active:hover,
    th.table-swap-inactive:hover {
        color: black;
        border: $border-width $clr-button-hover solid;
        background-color: $clr-button-hover;
    }
    
    thead {
        th.table-swap-inactive {
            border-top: $border-inactive;
            border-left: $border-inactive;
            border-bottom: $border-outside;
            font-weight: 500;
            color: $clr-medium-dark-gray;
            background-color: $clr-table-light;
        }
    
        th.table-swap-inactive:last-child {
            border-right: $border-inactive;
        }
    
        th.table-swap-active {
            border: $border-outside;
            border-bottom: $border-width $clr-table-dark solid;
            background-color: $clr-table-dark;
        }
    
        th.table-swap-active:first-child {
            border-bottom: $border-inside;
        }
    }
    
    tbody {
        border: $border-outside;
    
        th {
            padding: .5rem 0;
            border-top: $border-inside;
            background-color: $clr-table-dark;
        }
    }
    
    td {
        border-left: $border-inside;
        padding: .5rem;
    }

    .brewing-comment {
        color: $clr-medium-dark-gray;
    }
}