$border-width: 2px;
$border-outside: $border-width $clr-table-border solid;
$border-inside: $border-width $clr-bg solid;
$border-inactive: $border-width $clr-table-medium solid;

article.tea {
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tea-description {
    display: grid;
}

.tea-order-nav {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .1rem 1rem;
    font-size: var(--fs-200);

    .order-link {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    a {
        color: $clr-medium-gray;
    }

    a:hover {
        color: $clr-medium-dark-gray
    }

    .order-prev,
    .order-next {
        grid-row: 2;
    }

    .order-prev {
        text-align: right;
    }

    .order-prev::before {
        content: "\2039";
    }

    .order-next:after {
        content: "\203A";
    }
}

.tea-heading,
.tea-summary,
.tea-add {
    text-align: center;
    
    p {
        padding: .5rem 0;
    }
}

.tea-heading {
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    h1 {
        font-size: var(--fs-800);
    }

    h2 {
        font-size: var(--fs-600);
        color: $clr-medium-dark-gray;
    }
}

.tea-reference {
    color: $clr-medium-dark-gray;
}

.tea-slideshow {
    position: relative;
    overflow: hidden;

    img {
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: $bp-1) {
    .tea-summary {
        padding: 0 2rem;
    }
}

@media (min-width: $bp-2) {
    .tea-summary {
        padding: 0;
    }

    .tea-description {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px auto;
        grid-gap: 0rem 1rem;
    }

    .tea-order-nav {
        width: 100%;
        grid-template-columns: 4fr 3fr 1fr;

        .order-link {
            grid-column: 1;
            grid-row: 1;
            text-align: left;
        }
    
        .order-prev,
        .order-next {
            grid-row: 1;
        }
    }

    .tea-slideshow {
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
        padding: 0;
    }

    .tea-heading,
    .tea-summary,
    .tea-reference {
        text-align: left;
    }
}

.tea-preparation {
    padding: 1rem 0;
    max-width: 100%;
}

table.tea-details {
    max-width: 100%;
    width: 60ch;
    margin: 1rem 0;
    border-collapse: collapse;

    col {
        width: 11%;
    }

    tbody {
        border: $border-outside;
    }
    
    tr:nth-child(odd) {
        background-color: $clr-table-medium;
    }
    
    tr:nth-child(even) {
        background-color: $clr-table-light;
    }
    
    th.table-swap-active,
    th.table-swap-inactive {
        padding: .8rem;
        cursor: pointer;
    }
    
    th.table-swap-active:hover,
    th.table-swap-inactive:hover {
        color: black;
        border: $border-width $clr-button-hover solid;
        background-color: $clr-button-hover;
    }
    
    thead {
        th.table-swap-inactive {
            border-top: $border-inactive;
            border-left: $border-inactive;
            border-bottom: $border-outside;
            font-weight: 500;
            color: $clr-medium-dark-gray;
            background-color: $clr-table-light;
        }
    
        th.table-swap-inactive:last-child {
            border-right: $border-inactive;
        }
    
        th.table-swap-active {
            border: $border-outside;
            border-bottom: $border-width $clr-table-dark solid;
            background-color: $clr-table-dark;
        }
    
        th.table-swap-active {
            border-bottom: $border-inside;
        }
    }
    
    tbody {
        border: $border-outside;
    
        th {
            padding: .5rem 0;
            background-color: $clr-table-dark;
        }
    }

    th,
    th ~ td {
        border-top: $border-inside;
    }
    
    td {
        border-left: $border-inside;
        padding: .5rem;
    }

    .brewing-comment {
        color: $clr-medium-dark-gray;
    }
}