---
const { tag } = Astro.props
const { Content } = await tag.render()
---
<article class="my-8">
    <h2 class="text-xl font-bold" id={tag.slug}>{tag.data.title}</h2>
    <p class="my-2">
    {
        tag.data.translation &&
        <span class="block opacity-75">Übersetzt: {tag.data.translation}</span>
    }
    {
        tag.data.synonyms &&
        <span class="block opacity-75">Auch: {tag.data.synonyms}</span>
    }
    </p>
    <p>
        <Content />
    </p>
</article class="pb-5">