---
const { tag } = Astro.props
const { Content } = await tag.render()
---
<article class="text-lg max-w-lg">
    <h2 class="font-bold text-2xl" id={tag.slug}>{tag.data.title}</h2>
    <div class="my-2">
    {
        tag.data.translation &&
        <p class="text-gray-700">Übersetzt: {tag.data.translation}</p>
    }
    {
        tag.data.synonyms &&
        <p class="text-gray-700">Auch: {tag.data.synonyms}</p>
    }
    </div>
    <Content />
</article class="pb-5">