---
import Tea from '../layouts/Tea.astro'
import  { getCollection } from 'astro:content'

export async function getStaticPaths() {
    const teas = await getCollection('teas')

    return teas.map(entry => ({
        params: { tea: entry.slug }, props: { entry }
    }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---
<Tea title={entry.data.title}>
    <h1>{entry.data.title}</h1>
    <Content />
</Tea>