---
import '../styles/global.css'
import Header from '../components/page/Header.astro'
import Footer from '../components/page/Footer.jsx'
import Logo from '../components/page/Logo.astro'
import Frame from '../components/page/Frame.astro'
import Order from '../components/order/Order'
import favicon from '../assets/icons/favicon.svg'
import { getEntry } from 'astro:content'

const title = "Bestellung"
const pack = await getEntry('packs', '23-1-Chinas-Schaetze')
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <title>{title}</title>
</head>
<body class={"bg-gray-50 min-h-screen flex flex-col"}>
    <Header size={"sm"} />
    <main class="flex-1">
        <Frame bg={"bg-gray-50"} size="sm">
            <Order pack={pack} client:load />
        </Frame>
    </main>
    <Frame bg="bg-black" size="sm">
        <Footer client:load>
            <Logo mode="dark" />
        </Footer>
    </Frame>
</body>
</html>