---
import '../styles/global.css'
import Page from '../layouts/Page.astro'
import Frame from '../components/page/Frame.astro'
import Order from '../components/order/Order'
import favicon from '../assets/icons/favicon.svg'
import { getCollection } from 'astro:content'

const title = "Bestellung"
const allPacks = await getCollection('packs')
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href={favicon.src} />
  <title>{title}</title>
</head>
<Page size="sm">
  <Frame size="sm">
    <Order packs={allPacks.filter(pack => pack.data.stash > 0)} client:load />
  </Frame>
</Page>