<div class="data-table--outer">
  <div class="data-table__attribute--outer">Temperatur</div>
  <div class="data-table--inner">

    <div class="data-table__attribute--inner"></div>
    <div class="data-table__value">{{ page.gongfu-temperature }}&hairsp;°C</div>

  </div>
</div>

{% if page.gongfu-amount %}
<div class="data-table--outer">
  <div class="data-table__attribute--outer">Menge</div>
  <div class="data-table--inner">

    {% for entry in page.gongfu-amount %}
    <div class="data-table__attribute--inner">

      <span

      {% if entry[0] == "oder Volumen" %}
        class="medium-gray"
      {% endif %}>

        {{ entry[0] }}
      </span>
    </div>

    <div class="data-table__value">

      <span
      {% if entry[0] == "oder Volumen" %}
        class="medium-gray"
      {% endif %}>
        {{ entry[1] }}
        {%- if entry[0] == 'Gewicht' -%}
          &hairsp;g pro 100&hairsp;ml
        {%endif%}
      </span>
      
    </div>
    {% endfor %}

  </div>
</div>
{% endif %}

{% if page.gongfu-times %}
<div class="data-table--outer">
  <div class="data-table__attribute--outer">Zieh&shy;zeiten</div>
  <div class="data-table--inner">

    {% for entry in page.gongfu-times %}
    <div class="data-table__attribute--inner">

      <span
      {% if entry[0] == "Abguss" %}
        class="mouseover" title="Das ist der Aufguss vorm ersten Trinkaufguss. Er dient der Vorbereitung der Blätter und ist nicht zum trinken gedacht. Kann direkt entsorgt werden, wenn man möchte kann man ihn aber auch trinken."
      {% endif %}>
      {% unless entry[0] == "bis" %}
        {{ entry[0] }}
      {% endunless %}
      </span>

    </div>

    <div class="data-table__value">

      <span
      {% if entry[1] == "blitz" %}
        class="mouseover" title="D.h. so schnell wie möglich ein- und wieder ausgießen."
      {% elsif entry[1] == "optional" 
        or entry[1] == "weglassen" 
        or entry[0] == "bis" %}
        class="medium-gray"
      {% endif %}>
        {{ entry[1] }}
        <!-- The next 2 lines are a workaround for: if string.startswith('+') -->
        {% assign splitPlus = entry[1] | split: '+' %}
        {% if splitPlus[0] == '' %}
          <br>
          <span class="medium-gray">pro Aufguss</span>
        {% elsif entry[0] == 'Gewicht' %}
          &hairsp;g pro 100&hairsp;ml
        {% endif %}
      </span>
      
    </div>
    {% endfor %}

  </div>
</div>
{% endif %}