<tr>
    <th colspan="3">Temperatur</th>
    <td colspan="2"></td>
    <td colspan="4">{{ page.gongfu-temperature }}&hairsp;°C</td>
</tr>
<tr>
    <th colspan="3">Menge</th>
    <td colspan="2"></td>
    <td colspan="4">
        {{ page.gongfu-weight }}&hairsp;g pro 100&hairsp;ml
        {% if page.gongfu-volume %}
            <br><span class="brewing-comment">oder {{ page.gongfu-volume }}</span>
        {% endif %}
    </td>
</tr>
<tr>
    <th colspan="3" rowspan="3">Ziehzeiten</th>
    <td colspan="2"
        class="mouseover"
        title="Das ist der Aufguss vorm ersten Trinkaufguss. Er dient der Vorbereitung der Blätter und ist nicht zum trinken gedacht. Kann direkt entsorgt werden, wenn man möchte kann man ihn aber auch trinken.">
        Abguss
    </td>
    <td {% if page.gongfu-rinse == "blitz" %}
            class="mouseover"
            title="D.h. so schnell wie möglich ein- und wieder ausgießen."
        {%endif%}
        colspan="5">
        {% if page.gongfu-rinse == "optional" %}
            <span class="brewing-comment">kann übersprungen werden</span>
        {% else %}
            {{ page.gongfu-rinse }}
        {% endif %}
    </td>
</tr>
<tr>
    <td colspan="2">Anfangs</th>
    <td {% if page.gongfu-early == "blitz" %}
            class="mouseover"
            title="D.h. so schnell wie möglich ein- und wieder ausgießen."
        {%endif%}
        colspan="5">
        {{ page.gongfu-early }}
    </td>
</tr>
<tr>
    <td colspan="2">
        Später
    </td >
    <td colspan="5">
        {{ page.gongfu-further }}
        {% if page.gongfu-increase-temperature %}
            <br><span class="brewing-comment">Temperatur kann zum Ende hin erhöht werden</span>
        {% endif %}
    </td>
</tr>