<tr>
    <th colspan="3">Temperatur</th>
    <td colspan="2"></td>
    <td colspan="4">{{ page.gongfu-temperature }}&hairsp;°C</td>
</tr>

{% if page.gongfu-amount %}
<tr>
    <th colspan="3" rowspan="{{ page.gongfu-amount | size }}">
        Menge
    </th>
{% for entry in page.gongfu-amount}} %}
    <td colspan="2">{{ entry[0] }}</td>
    <td colspan="4">
        {{ entry[1] }}{% if entry[0] == 'Gewicht' %}&hairsp;g pro 100&hairsp;ml{%endif%}
    </td>
</tr>
{% unless forloop.last %}
<tr>
{% endunless %}
{% endfor %}
{% endif %}

{% if page.gongfu-times %}
<tr>
    <th colspan="3" rowspan="{{ page.gongfu-times | size }}">
        Ziehzeiten
    </th>
{% for entry in page.gongfu-times}} %}
    <td colspan="2">
        {% if entry[0] == "Abguss" %}
        <span class="mouseover"
        title="Das ist der Aufguss vorm ersten Trinkaufguss. Er dient der Vorbereitung der Blätter und ist nicht zum trinken gedacht. Kann direkt entsorgt werden, wenn man möchte kann man ihn aber auch trinken.">
        {{ entry[0] }}
        </span>
        {% else %}
        {{ entry[0] }}
        {% endif %}
    </td>
    <td colspan="4">
        {% if entry[1] == "blitz" %}
        <span class="mouseover"
        title="D.h. so schnell wie möglich ein- und wieder ausgießen.">
        {{ entry[1] }}
        </span>
        {% elsif entry[0] == 'Gewicht' %}
        {{ entry[1] }}&hairsp;g pro 100&hairsp;ml
        {% elsif entry[1] == "optional" or entry[1] == "weglassen" %}
        <span class="brewing-comment">{{ entry[1] }}</span>
        {% else %}
        {{ entry[1] }}
        {%endif%}
    </td>
</tr>
{% unless forloop.last %}
<tr>
{% endunless %}
{% endfor %}
{% endif %}