<div class="data-table--outer">
  <div class="data-table__attribute--outer">Sorte</div>
  <div class="data-table--inner">

    <div class="data-table__attribute--inner">Teesorte</div>
    <div class="data-table__value">{{ page.type }}</div>

    <div class="data-table__attribute--inner">Strauchsorte</div>
    <div class="data-table__value">
      {% if page.variety %}
        {{ page.variety }}
      {% else %}
        <span class="medium-gray italic">k.&hairsp;A.</span>
      {% endif %}
    </div>
  </div>
</div>

{% if page.origin %}
<div class="data-table--outer">
  <div class="data-table__attribute--outer">Herkunft</div>
  <div class="data-table--inner">

    {% for entry in page.origin %}
    <div class="data-table__attribute--inner">
      {{ entry[0] }}
    </div>

    <div class="data-table__value">
      {% if entry[1] %}
        {{ entry[1] -}}
        {%- if entry[0] == 'Höhe' %}&hairsp;m{% endif %}
      {% else %}
        <span class="medium-gray italic">k.&hairsp;A.</span>
      {% endif %}
    </div>
    {% endfor %}

  </div>
</div>
{% endif %}

{% if page.production %}
<div class="data-table--outer">
  <div class="data-table__attribute--outer">Ver&shy;arbeitung</div>
  <div class="data-table--inner">

    {% for entry in page.production %}
    <div class="data-table__attribute--inner">
      {{ entry[0] }}
    </div>

    <div class="data-table__value">
      {% if entry[1] %}
        {{ entry[1] -}}
      {% else %}
        <span class="medium-gray italic">k.&hairsp;A.</span>
      {% endif %}
    </div>
    {% endfor %}

  </div>
</div>
{% endif %}