<div class="tea__grid--outer">
  <div class="tea__grid__attribute--outer">Sorte</div>
  <div class="tea__grid--inner">

    <div class="tea__grid__attribute--inner">Teesorte</div>
    <div class="tea__grid__value">{{ page.type }}</div>

    <div class="tea__grid__attribute--inner">Strauchsorte</div>
    <div class="tea__grid__value">{{ page.variety }}</div>

  </div>
</div>

{% if page.origin %}
<div class="tea__grid--outer">
  <div class="tea__grid__attribute--outer">Herkunft</div>
  <div class="tea__grid--inner">

    {% for entry in page.origin %}
    <div class="tea__grid__attribute--inner">
      {{ entry[0] }}
    </div>

    <div class="tea__grid__value">
      {{ entry[1] -}}
      {%- if entry[0] == 'Höhe' %}&hairsp;m{% endif %}
    </div>
    {% endfor %}

  </div>
</div>
{% endif %}

{% if page.production %}
<div class="tea__grid--outer">
  <div class="tea__grid__attribute--outer">Ver&shy;arbeitung</div>
  <div class="tea__grid--inner">

    {% for entry in page.production %}
    <div class="tea__grid__attribute--inner">
      {{ entry[0] }}
    </div>

    <div class="tea__grid__value">
      {{ entry[1] }}
    </div>
    {% endfor %}

  </div>
</div>
{% endif %}