<tr>
    <th colspan="3" rowspan="2">Sorte</th>
    <td colspan="3">Teesorte</td>
    <td colspan="3">{{ page.type }}</td>
</tr>
<tr>
    <td colspan="3">Strauchsorte</td>
    <td colspan="3">{{ page.variety }}</td>
</tr>

{% if page.origin %}
<tr>
    <th colspan="3" rowspan="{{ page.origin | size }}">
        Herkunft
    </th>
{% for entry in page.origin }} %}
    <td colspan="3">{{ entry[0] }}</td>
    <td colspan="3">
        {{ entry[1] }}{% if entry[0] == 'Höhe' %}&hairsp;m{%endif%}
    </td>
</tr>
{% unless forloop.last %}
<tr>
{% endunless %}
{% endfor %}
{% endif %}

{% if page.production %}
<tr>
    <th colspan="3" rowspan="{{ page.production | size }}">
        Verarbeitung
    </th>
{% for entry in page.production }} %}
    <td colspan="3">{{ entry[0] }}</td>
    <td colspan="3">{{ entry[1] }}</td>
</tr>
{% unless forloop.last %}
<tr>
{% endunless %}
{% endfor %}
{% endif %}