{% assign size = page.aroma | size %}
{% if size < 2 %}
<tr>
    <th colspan="3">Aroma</th>
    <td colspan="2"></td>
    <td colspan="4">
        {% if size == 1 %}{{ page.aroma }}{% endif %}
    </td>
</tr>
{% else %}
<tr>
    <th colspan="3" rowspan="{{page.aroma | size }}">Aroma</th>
{% for entry in page.aroma %}
    <td colspan="2">
        {% if entry[0] == 'Geschirr' %}
        <span 
            class="mouseover" 
            title="Das Aroma des Teegeschirrs nach dem Aufgießen bzw. Trinken. Zum Beispiel der Gaiwandeckel, die Ausschankkanne oder die Trinkschalen.">
            {{ entry[0] }}
        </span>
        {% else %}
            {{ entry[0] }}
        {% endif %}
    </td>
    <td colspan="4">{{ entry[1] }}</td>
</tr>
{% unless forloop.last %}
<tr>
{% endunless %}
{% endfor %}
{% endif %}

{% assign size = page.taste | size %}
{% if size < 2 %}
<tr>
    <th colspan="3">Geschmack</th>
    <td colspan="2"></td>
    <td colspan="4">
        {% if size == 1 %}{{ page.taste }}{% endif %}
    </td>
</tr>
{% else %}
<tr>
    <th colspan="3" rowspan="{{page.taste | size }}">Geschmack</th>
{% for entry in page.taste %}
    <td colspan="2">{{ entry[0] }}</td>
    <td colspan="4">{{ entry[1] }}</td>
</tr>
{% unless forloop.last %}
<tr>
{% endunless %}
{% endfor %}
{% endif %}

{% assign size = page.visual | size %}
{% if size < 2 %}
<tr>
    <th colspan="3">Aussehen</th>
    <td colspan="2"></td>
    <td colspan="4">
        {% if size == 1 %}{{ page.visual }}{% endif %}
    </td>
</tr>
{% else %}
<tr>
    <th colspan="3" rowspan="{{page.visual | size }}">Aussehen</th>
{% for entry in page.visual %}
    <td colspan="2">{{ entry[0] }}</td>
    <td colspan="4">{{ entry[1] }}</td>
</tr>
{% unless forloop.last %}
<tr>
{% endunless %}
{% endfor %}
{% endif %}