{% if page.visual %}
    <div class="tea__grid--outer">
      <div class="tea__grid__attribute--outer">Aussehen</div>
      <div class="tea__grid--inner">

        {% for entry in page.visual %}
        <div class="tea__grid__attribute--inner">
          {{ entry[0] }}
        </div>

        <div class="tea__grid__value">
          {{ entry[1] }}
        </div>
        {% endfor %}

      </div>
    </div>
    {% endif %}
    
    {% if page.aroma %}
    <div class="tea__grid--outer">
      <div class="tea__grid__attribute--outer">Aroma</div>
      <div class="tea__grid--inner">

        {% for entry in page.aroma %}
        <div class="tea__grid__attribute--inner">
          <span
          {% if entry[0] == 'Geschirr' %}
            class="mouseover" title="Das Aroma des Teegeschirrs nach dem Aufgießen bzw. Trinken. Zum Beispiel der Gaiwandeckel, die Ausschankkanne oder die Trinkschalen."
          {% endif %}>
            {{ entry[0] }}
          </span>
        </div>

        <div class="tea__grid__value">
          {{ entry[1] }}
        </div>
        {% endfor %}

      </div>
    </div>
    {% endif %}

    {% if page.taste %}
    <div class="tea__grid--outer">
      <div class="tea__grid__attribute--outer">Ge&shy;schmack</div>
      <div class="tea__grid--inner">

        {% for entry in page.taste %}
        <div class="tea__grid__attribute--inner">
          {{ entry[0] }}
        </div>

        <div class="tea__grid__value">
          {{ entry[1] }}
        </div>
        {% endfor %}

      </div>
    </div>
    {% endif %}