@import '../base/colors';

.bg {
  height: 100%;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  margin: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header, nav, main, footer {
  margin: auto;
  max-width: 100%;
  width: 720px;

  @media screen and (min-width: 1000px) {
    width: 960px;
  }
}