@import '../base/breakpoints.scss';

html {
  height: 100%;
}

body {
  margin: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

header, nav, main, footer {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: $medium) {
  header, nav, main, footer {
    width: 90%;
  }
}

.legal {
  margin: 25px auto;
}

@media (min-width: $medium) {
  .legal {
    margin: 35px auto;
  }
}

@media (min-width: $large) {
  .legal {
    margin: 35px auto 45px;
  }
}

.preloader {
  position: absolute;
  left: -9999px;
  top:  -999px;

  img {
    display: block;
  }
}