@import '../base/colors';

footer {
  display: grid;
  place-items: center;

  .about {
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    background-color: $green_dark;
    
    a {
      color: $gray;
      text-decoration: none;
    }
    
    a:hover {
      color: $white;
      transition: 1s;
    }
  }

  .copyright {
    height: 75px;
    display: flex;
    align-items: center;
    color: rgba($gray, 0.75);

    ul {
      padding: 0px;
      list-style: none;
      display: flex;
    }

    li {
      padding-right: 5px;
      padding-left: 5px;
    }

    a {
      color: rgba($gray, 0.75);
      text-decoration: none;
    }
    
    a:hover {
      color: rgba($gray_light, 0.75);
      transition: 1s;
    }
  }
}