@import '../base/breakpoints.scss';

footer {
  display: flex;
  justify-content: center;

  .wrapper {
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    max-width: 10ch;
    padding: 32px;
    
    a {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  
  nav {
    margin: 32px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: $medium) {
  footer {
    .logo {
      max-width: 30ch;
      padding: 32px 64px;
    }
  }
}

@media screen and (min-width: $large) {
  footer {
    .logo {
      max-width: 30ch;
      padding: 0 auto;
    }
  
    nav {
      margin: 32px auto;
      flex-direction: row;
      justify-content: center;

      a {
        padding: 0 12px;
      }
    }
  }
}