@import '../base/colors';

header {
  height: 180px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  h1 {
    width: 100%;
    margin-bottom: 25px;
  }
  
  a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
  }
}