@import '../base/colors';
@import '../base/fonts';

header {
  height: 180px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  h1 {
    width: 100%;
    margin-bottom: 25px;
    font-size: 38px;
    text-transform: uppercase;
  }

  @media screen and (min-width: 600px) {
    h1 {
      font-size: 48px;
    }
  }
  
  a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
  }
}