@import '../base/colors';

main {
  max-width: 100%;
}

main a {
  color: $green;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

article {
  margin: auto;
  padding: 32px;

  section {
    max-width: 100%;
  }
}

aside {
  border-width: 1px;
  border-style: solid none solid none;
  border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0),
      $green, 
      rgba(0, 0, 0, 0)
    ) 1 5%;
}

.float-left {
  margin: 0.5rem 2rem 0.5rem 1rem;
  padding: 0rem 1rem 0rem 0rem;
  float: left;

  @media screen and (max-width: 720px) {
    float: none;
  }
}

.float-right {
  margin: 1rem;
  padding: 1rem 2rem;
  float: right;
}

@media screen and (min-width: 720px) {
  article {
    padding: 32px 64px;
  }
}

table {
  margin: 0 auto;
  width: 100%;
}

tr {
  background: $gray_light;
  opacity: 0.8;
}

tr:first-child {
  color: $white;
  background-color: $green;
  opacity: 1;
}

td {
  text-align: center;
}

td:first-child {
  padding-left: 10px;
  text-align: left;
}

tr:hover {
  opacity: 1;
}