@import '../base/colors';

main {
  max-width: 100%;
  background-color: $white;
  color: $gray_dark;
}

article {
  margin: auto;
  padding: 32px;

  section {
    max-width: 100%;
  }
}

aside {
  color: $green;
  text-align: center;
  font-style: italic;
  border-width: 1px;
  border-style: solid none solid none;
  border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0),
      $green, 
      rgba(0, 0, 0, 0)
    ) 1 5%;
}

@media screen and (min-width: 720px) {
  article {
    padding: 32px 64px;
  }
}