@import '../base/colors.scss';

nav {
  background-color: rgba($white, 0.175);
  display: flex;
  
  .padding {
    width: 100%;
    border-bottom: 2px solid $green;
  }

  ul {
    padding: 0px;
    margin: auto;
    list-style: none;
    display: flex;
  }
  
  li {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 160px;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid $green;
  }
  
  li:hover {
    background-color: rgba($green_light, 0.175);
  }

  a {
    color: $gray_light;
    text-decoration: none;
  }
  
  a:hover {
    color: $white;
  }
}

#home .home, #sorts .sorts, #prep .prep {
  padding-top: 13px;
  background-color: white;
  border: 2px solid $green;
  border-bottom: 2px solid transparent;

  a {
    color: $green;
  }
}