#details-brewing {
  transition: max-height 350ms ease;
}

.toggle {
  margin-top: auto;
  border-radius: 25px;
  padding-inline: 3px;
  width: 20px;
  height: 18px;
  cursor: pointer;
  background-color: $medium-light-gray;

  &__status {
    margin: 3px 0;
    border-radius: 25px;
    height: 12px;
    width: 15px;
    background-color: $almost-white;
    transition: all 350ms;
  }

  &__status[data-position="right"] {
    transform: translateX(5px);
  }
}

@media (min-width: $bp-desktop) {
  .tea {
    &__help {
      display: grid;
      gap: 1rem;
      grid-template-columns: 4fr 3fr;
    }
  }
}