.tea {
  &__help {
    display: grid;
    gap: 2rem;

    @media (min-width: $bp-desktop) {
      grid-template-columns: 4fr 3fr;
    }
  }

  &__explanations {
    margin-bottom: auto;
  }
}

.toggler {
  appearance: none;
  position: relative;
  cursor: pointer;
  margin-top: auto;
  border-radius: 25px;
  padding-inline: 3px;
  width: 28px;
  height: 18px;
  background-color: $medium-light-gray;

  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    margin: 3px 0;
    width: 12px;
    height: 12px;
    border-radius: 25px;
    background-color: $almost-white;
    transition: all 350ms linear;
  }

  &:checked {
    background-color: $medium-gray;
    
    &::after{
      margin-left: 10px;  
    }
  }
}