.tea {
  display: grid;
  gap: 3rem;

  &__subheader {
    @include dashed-separator;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      color: $medium-gray;
      font-size: var(--fs-500);
    }

    &__controls {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__reviews {
    display: grid;
    gap: 1rem;
  }
}