.tea {
  &__overview {
    margin-bottom: 3rem;
    display: grid;
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .1rem .5rem;

    a {
      color: $medium-dark-gray;

      &:hover {
        color: $almost-black;
      }
    }

    &__order {
      grid-column: span 2;
      grid-row: 2;
      text-align: center;
    }

    &__prev {
      text-align: right;
    }

    &__next {
      text-align: left;
    }
  }

  &__header {
    text-align: center;
    font-weight: bold;

    &__title {
      color: $almost-black;
      font-size: var(--fs-800);
    }
  
    &__subtitle {
      color: $medium-dark-gray;
      font-size: var(--fs-600);
    }
  }

  &__description {
    &__info {
      margin: .5rem 0;
      padding: 0;
      color: $medium-dark-gray;
      font-weight: normal;
      display: flex;
      justify-content: space-around;

      sup {
        line-height: 0;
      }
    }
  }

  &__images {
    grid-row: 2;
  }

  @media (min-width: $bp-tablet) {
    &__overview {
      grid-template-columns: 4fr 3fr;
      grid-template-rows: 2.5rem 3.5rem 5rem auto;
      grid-gap: 0 2rem;
    }
  
    &__nav {
      margin-top: auto;
      margin-bottom: 1rem;
      grid-row: 2;
      grid-column: 2;
      grid-template-columns: 1fr 5rem 5rem;
  
      &__order {
        grid-column: span 1;
        grid-row: 1;
        text-align: left;
      }
    }
  
    &__images {
      grid-column: 1;
      grid-row: 1 / span 4;
    }
  
    &__header {
      grid-column: 2;
      grid-row: 3;
      text-align: left;
    }
  
    &__description {
      grid-column: 2;
      grid-row: 4;
  
      &__info {
        justify-content: space-between;
      }
    }
  }
}