$border: 1px solid $medium-light-gray;

.review {
  box-shadow: 2px 2px $medium-light-gray;
  border-radius: 5px;
  display: grid;
  
  &__content {
    border-radius: 0 5px 5px 0;
    border: 3px $almost-white solid;
    margin: 0;
    padding: 1rem;
    background-color: $almost-white;
  }

  &__user {
    display: grid;
    grid-template-columns: clamp(75px, 5vw, 150px) auto;
    align-items: center;
    gap: 2rem;
    border-bottom: $border;
    background-color: $light-gray;
  
    &__icon {
      border-radius: 5px 0 0 0;
      width: clamp(75px, 5vw, 150px);
    }
    
    &__name {
      color: $medium-dark-gray;
      font-size: var(--fs-600);
    }
  }

  @media (min-width: $bp-tablet) {
    grid-template-columns: 225px auto;
    
    &__user {
      border-radius: 5px 0 0 5px;
      grid-template-columns: 100%;
      grid-template-rows: 6rem auto;
      gap: 0;
      align-items: center;
      justify-items: center;
      border-bottom: none;
      border-right: $border;
      border-bottom: none;
      padding-bottom: 4rem;
    
      &__name {
        grid-row: 1;
        width: 100%;
        text-align: center;
      }
  
      &__icon {
        grid-row: 2;
        align-self: baseline;
        border-radius: 5px;
        width: 150px;
      }
    }

    &__content {
      margin: 0;
      padding: 2rem 3rem;
      border-left: none;
      font-size: var(--fs-400);
    }
  }
}