---
import PageSection from "./PageSection.astro"
import Logo from "./Logo.astro"
---
<PageSection bg="bg-black">
    <footer class="pt-10 pb-5 min-h-10 flex flex-col text-white">
        <section class="flex flex-col gap-10">
            <Logo mode="dark" />
            <span class="text-xl">Einfach guter Tee.</span>
        </section>
        <div class="mt-16 flex justify-between">
            <span class="text-sm opacity-40">Copyright &copy; Christoph Aurich</span>
        </div>
    </footer>
</PageSection>
