---
import PageSection from './PageSection.astro';
import Logo from './Logo.astro'

const { bg } = Astro.props
---
<PageSection bg={bg}>
    <header class="my-4 md:my-8 flex justify-between items-center text-xl">
        <Logo mode="light" />
        <div class="flex-1"></div>
        <nav class="flex-1">
            <ul class="flex justify-center gap-12">
                <li><a class="opacity-75 hover:opacity-90" href="/pakete/">Pakete</a></li>
                <li><a class="opacity-75 hover:opacity-90" href="/glossar/">Glossar</a></li>
            </ul>
        </nav>
    </header>
</PageSection>