---
import Logo from './Logo.astro'
---
<header>
    <Logo />
    <nav>
        <ul>
            <li><a href="/pakete/">Pakete</a></li>
            <li><a href="/glossar/">Glossar</a></li>
        </ul>
    </nav>
</header>
<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul, li {
        margin: 0;
    }

    ul {
        margin-right: 5rem;
        display: flex;
        justify-content: space-evenly;
        gap: 2.5rem;
        font-size: 1.25rem;
    }

    li {
        list-style: none;
    }

    a {
        color: black;
        opacity: .8;
    }
</style>