---
---
<header>
    <a href="/">Projekt Teegenuss</a>
    <nav>
        <ul>
            <li><a href="/pakete/">Pakete</a></li>
            <li><a href="/glossar/">Glossar</a></li>
        </ul>
    </nav>
</header>
<style>
    header {
        display: flex;
        justify-content: space-between;
    }

    ul, li {
        margin: 0;
    }

    ul {
        display: flex;
        gap: 1rem;
    }

    li {
        list-style: none;
    }
</style>