---
import Logo from './Logo.astro'
---
<header class="my-4 md:my-8 flex justify-between items-center text-xl">
    <Logo />
    <div class="flex-1"></div>
    <nav class="flex-1">
        <ul class="flex justify-center gap-12">
            <li><a class="opacity-75 hover:opacity-90" href="/pakete/">Pakete</a></li>
            <li><a class="opacity-75 hover:opacity-90" href="/glossar/">Glossar</a></li>
        </ul>
    </nav>
</header>
<style>
</style>