---
---
<a class="flex flex-col font-bold leading-8 text-black" href="/">
    <span class="text-2xl opacity-70">
        Projekt
    </span>
    <span class="text-3xl opacity-80">
        Teegenuss
    </span>
</a>
<style>
a:hover span:last-child{
    color: transparent;
    opacity: 1;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
        to right, 
        darkgreen 0%,
        #96D121 10%,
        #b7d121 20%,
        #E9DF00 40%,
        #FFBF29 60%,
        #FF8417 70%,
        #c23d00 80%,
        #912e00 90%,
        #3d1300 100%);
}
</style>