---
---
<a href="/">
    <span>
        Projekt
    </span>
    <br />
    <span>
        Teegenuss
    </span>
</a>
<style>
a {
    text-decoration: none;
    line-height: 1.75rem;
    font-weight: 600;
    color: black;
}

a:hover span:last-child{
    color: transparent;
    opacity: 1;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
        to right, 
        darkgreen 0%,
        #96D121 10%,
        #b7d121 20%,
        #E9DF00 40%,
        #FFBF29 60%,
        #FF8417 70%,
        #c23d00 80%,
        #912e00 90%,
        #3d1300 100%);
}

span:first-child {
    font-size: 1.75rem;
    opacity: .7;
}

span:last-child {
    font-size: 2rem;
    opacity: .8;
}
</style>