@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300italic");

@import 'breakpoints.scss';

$sans-serif: 'Source Sans Pro';
$serif: 'Merriweather';
$cursive: 'Tangerine';

/* font sizes */

:root {
  font-size: 16px;
  line-height: 1.6em;
}

header {
  font-size: 2.5rem;
  line-height: 1.8em;
}

h1 {
  font-size: 2rem;
  line-height: 1.2em;
}

nav {
  font-size: 1rem;
}

@media (min-width: $medium) {
  header {
    font-size: 3.5rem;
  }
}

nav {
  font-size: 1.1rem;
}

@media (min-width: $large) {
  header {
    font-size: 4rem;
  }

  nav {
    font-size: 1.2rem;
  }
}

/* font styling */

header {
  font-family: $sans-serif, sans-serif;
  font-weight: 900;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }
}

nav {
  font-family: $sans-serif, sans-serif;
  font-weight: 900;

  li {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif, sans-serif;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}
  
p {
  font-family: $serif, serif;
}

a {
  text-decoration: none;
}

table {
  font-family: $sans-serif;
}

aside {
  text-align: center;
  font-style: italic;
}

footer {
  font-family: $sans-serif, sans-serif;
  font-weight: 300;
}