---
import Frame from "./Frame.astro"
import Logo from "./Logo.astro"
import FooterContent from "./FooterContent.jsx"
---
<Frame bg="bg-black">
    <footer class="text-gray-400 text-lg">
        <section class="pt-12 lg:pt-20">
            <Logo mode="dark" classList="mb-10" />
            <FooterContent />
        </section>
    </footer>
</Frame>
