---
import Frame from "./Frame.astro"
import Logo from "./Logo.astro";
---
<Frame bg="bg-black">
    <footer class="text-gray-400 text-lg">
        <section class="pt-12 pb-24 border-b-2 border-gray-900">
            <Logo mode="dark" classList="mb-8" />
            <form class="flex flex-col gap-4">
                <div>
                    <p>
                        Hast du Fragen oder Anregungen?
                    </p>
                    <p>
                        Schreib mir gerne eine Nachricht, dann melde ich mich so schnell es geht bei dir.
                    </p>
                </div>
                <fieldset class="flex flex-col gap-5">
                    <div class="flex flex-col md:flex-row gap-5">
                        <p class="w-full flex flex-col gap-1">
                            <label for="name">Name</label>
                            <input class="border border-gray-800 focus:outline-none focus:border-gray-600 p-2 rounded-md bg-gray-900 text-gray-300" type="text" id="name" name="name" title="Bitte gib deinen Namen ein.">
                        </p>
                        <p class="w-full flex flex-col gap-1">
                            <label for="email">Email</label>
                            <input class="border border-gray-800 focus:outline-none focus:border-gray-600 p-2 rounded-md bg-gray-900 text-gray-300" type="email" id="email" name="email" title="Bitte gib deine Email-Adresse ein.">
                        </p>
                    </div>
                    <p class="flex flex-col gap-1">
                        <label for="message">Nachricht</label>
                        <textarea class="border border-gray-800 focus:outline-none focus:border-gray-600 p-2 rounded-md bg-gray-900 text-gray-300" id="message" name="message" rows="10" title="Bitte gib deine Nachricht ein."></textarea>
                    </p>
                </fieldset>
                <button class="mb-8 py-2 px-8 border border-gray-900 hover:border-gray-500 focus:outline-none focus:border-gray-500 rounded-md hover:text-gray-300">Absenden</button>
            </form>
        </section>
        <div class="select-none my-8 lg:my-14 flex justify-center text-gray-800 text-sm md:text-md lg:text-lg">
            <span>Copyright &copy; Christoph Aurich</span>
        </div>
    </footer>
</Frame>
