---
import Frame from './Frame.astro'

const { size } = Astro.props
---
<Frame size={size}>
    <footer class="select-none pt-5 pb-5 flex justify-between text-sm text-gray-400 md:text-md">
        <span>Copyright &copy; Christoph Aurich</span>
        <a href="/impressum" class="cursor-pointer hover:text-gray-500">
            Impressum
        </a>
    </footer>
</Frame>