---
import Frame from "./Frame.astro"
import Logo from "./Logo.astro"
---
<Frame bg="bg-black">
    <footer class="pt-10 pb-5 h-96 flex flex-col justify-between text-white">
        <section class="flex flex-col gap-10">
            <Logo mode="dark" />
        </section>
        <div class="mt-16 flex justify-between">
            <span class="text-sm opacity-40">Copyright &copy; Christoph Aurich</span>
        </div>
    </footer>
</Frame>
