---
type size = "sm" | "md"

type Props = {
    bg?: string,
    size?: size
}

const { bg = "", size = "md"} = Astro.props
---
<div class=`max-w-screen flex justify-center ${bg}`>
    <div class={(size === "md" ? "max-w-screen-2xl" : "max-w-screen-xl") + " w-screen px-2 sm:px-5 md:px-8"}>
        <slot />
    </div>
</div>