---
import Frame from './Frame.astro';
import Logo from './Logo.astro'

const { bg } = Astro.props
---
<Frame bg={bg}>
    <header class="my-4 md:my-12 flex justify-between items-center">
        <Logo mode="light" />
        <div class="flex-1"></div>
        <nav class="flex-1">
            <ul class="flex justify-center gap-12 font-bold text-2xl">
                <li><a class="opacity-50 hover:opacity-80" href="/pakete/">Pakete</a></li>
                <li><a class="opacity-50 hover:opacity-80" href="/glossar/">Glossar</a></li>
            </ul>
        </nav>
    </header>
</Frame>