---
import Frame from './Frame.astro';
import Logo from './Logo.astro'

---
<Frame>
    <header class="sm:my-2 xl:my-10 grid grid-cols-2 items-center">
        <div class="pt-3 py-5">
            <Logo mode="light" />
        </div>
    </header>
</Frame>