---
import type { CollectionEntry } from 'astro:content'
import Frame from './Frame.astro'
import Logo from './Logo.astro'
import Breadcrumbs from './Breadcrumbs.jsx'

interface Props {
    navigation: {
        root: string,
        segments: {
            collection: CollectionEntry<'packs'>[] | CollectionEntry<'teas'>[],
            entry: CollectionEntry<'packs'> | CollectionEntry<'teas'>
        }[],
        relative: {
            prevHref: string
            nextHref: string,
        }
    }
}

const { navigation } = Astro.props
---
<Frame>
    <header class="w-full grid grid-cols-[auto_1fr_auto] items-center md:py-4 2xl:my-6">
        <div class="pt-3 py-5">
            <Logo mode="light" />
        </div>
        <div class="hidden select-none tracking-wider text-md text-gray-400 pl-20 md:flex md:gap-5 md:items-center lg:pl-32 lg:text-lg xl:pl-40">
            <Breadcrumbs client:load navigation={navigation} />
        </div>
        {
            navigation &&
            navigation.relative && 
            <div class="col-start-3 select-none tracking-wider text-md text-gray-400 flex gap-3 lg:text-lg lg:gap-5">
                <a class="cursor-pointer pl-4 pr-4 py-1 hover:text-gray-500 hover:bg-gray-200 hover:rounded-md" href={navigation.relative.prevHref}>&#8249; zurück</a>
                <a class="cursor-pointer pl-4 pr-4 py-1 hover:text-gray-500 hover:bg-gray-200 hover:rounded-md" href={navigation.relative.nextHref}>weiter &#8250;</a>
            </div>
        }
    </header>
</Frame>