---
const  { mode } = Astro.props
const textColor = mode === 'light' ? "text-black" : "text-white"
const primaryOpacity = mode === 'light' ? "opacity-80" : "opacity-100"
const secondaryOpacity = mode === 'light' ? "opacity-70" : "opacity-75"
---
<a class=`max-w-min flex flex-col select-none font-bold leading-8 ${textColor}` href="/">
    <span class=`text-2xl ${secondaryOpacity}`>
        Projekt
    </span>
    <span class=`text-3xl ${primaryOpacity}`>
        Teegenuss
    </span>
</a>
<style>
a:hover span:last-child{
    color: transparent;
    opacity: 1;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
        to right, 
        #96D121 10%,
        #b7d121 20%,
        #E9DF00 40%,
        #FFBF29 60%,
        #FF8417 70%,
        #c23d00 80%,
        #912e00 90%);
}
</style>