.button {
  all: unset;
  cursor: pointer;
  border: 2px solid transparent;
  padding: .5rem 1rem;
  width: 8rem;
  font-size: var(--fs-400);
  font-weight: bold;
  text-align: center;
  color: $almost-white;
  background-color: $almost-black;

  &:hover {
    color: $white;
    border-color: transparent;
    background-color: $black;
  }

  &--accept {
    color: $almost-white;
    background-color: $almost-black;
    
    &:hover {
      color: $white;
      background-color: $clr-accept;
    }
  }

  &--danger {
    color: $almost-black;
    border-color: $almost-black;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $clr-danger;
    }
  }

  &--white {
    color: $almost-black;
    border-color: $almost-black;
    background-color: $white;

    &:hover {
      color: $almost-white;
      background-color: $almost-black;
    }
  }

  &--large {
    width: 16rem;
  }
}