.hero {
  position: relative;

  &__title {
    position: absolute;
    top: calc(55% - (var(--fs-1000) / 2));
    margin: 0 10%;
    width: 80%;
    color: rgba($light-gray, .8);
    text-align: center;
    line-height: var(--fs-1000);
    font-size: var(--fs-1000);
    user-select: none;
  }

  a:hover {
    img {
      filter:grayscale(.1);
    }

    .hero__title {
      color: rgba($white, .8);
    }
  }

}

.text-header {
  text-align: center;
  font-weight: bold;
}

.title {
  color: $almost-black;

  &--link:hover {
    color: $black;
  }

  &--large {
    font-size: var(--fs-700);
  }
  
  &--medium {
    font-size: var(--fs-600);
  }
}

.subtitle {
  color: $medium-dark-gray;

  &--large {
    font-size: var(--fs-600);
  }

  &--medium {
    font-size: var(--fs-500);
  }

  &--small {
    font-weight: normal;
    font-size: var(--fs-400);
  }
}