<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="content">
      <header class="main">
        <a class="logo" href="/">
          <p>
            Projekt:
          </p>
          <p>
            Teegenuss
          </p>
        </a>
        <nav>
          {% include nav.html %}
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
      <footer>
        &copy; Herbert Zilelberg
      </footer>
    </div>
  </body>
</html>