<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <title>{{ page.title }}</title>
</head>
<body>
<div class="page">

  <header class="page__header">

    <a class="brand" href="/">
      <span>Projekt</span>
      <br>
      <span>Teegenuss</span>
    </a>

    <nav class="primary-nav" id="primary-navigation" data-expanded="false">
      <div class="primary-nav__group">
        {% for item in site.data.navigation %}
        <a href="{{item.link}}" class="primary-nav__link {% if page.url == item.link %}primary-nav__link--current{% endif %}">
          {{item.name}}
        </a>
        {% endfor %}
      </div>
    </nav>

    <button aria-controls="primary-navigation" aria-expanded="false" class="nav-toggle">
      <img src="/assets/img/icons/navigation-open.png" class="nav-toggle__open">
      <img src="/assets/img/icons/navigation-close.png" class="nav-toggle__close">
    </button>

  </header>

  <main>
    <div class="content">
      {{ content }}
    </div>
  </main>

  <footer class="page-footer">
    <div class="page-footer__content">

      <a class="brand brand--footer" href="/">
        <span>Projekt</span>
        <br>
        <span>Teegenuss</span>
      </a>

      <div class="page-footer__nav">
        {% for item in site.data.navigation %}
        <a href="{{item.link}}" class="page-footer__link">{{item.name}}</a>
        {% endfor %}
      </div>

    </div>
    <div class="page-footer__content">
      <div class="small-print">
        <span>&copy;&nbsp;Christoph Aurich</span>
      </div>
    </div>
  </footer>

</div>

<script type="module" src="/assets/js/ui/navigation.js" defer></script>

</body>
</html>