---
layout: default
---
<article class="tea">

    <section class="tea-order-nav">
        {% assign order = site.orders | where: 'order-id', page.order-id | first %}
        {% assign teas = site.teas | where: 'order-id', page.order-id %}
        {% assign prev-key = page.key | plus: -1 | modulo: teas.size %}
        {% assign next-key = page.key | plus: 1 | modulo: teas.size %}
        {% assign prev = teas | where: 'key', prev-key | first %}
        {% assign next = teas | where: 'key', next-key | first %}


        <div class="order-link">
            <a href="{{ order.url }}">{{ order.title }}</a>
        </div>
        <div class="order-prev">
            <a href="{{ prev.url }}">zurück</a>
        </div>
        <div class="order-next">
            <a href="{{ next.url }}">weiter</a>
        </div>
    </section>
    
    <section class="tea-description">

        <section class="tea-heading">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.type }}</h2>
        </section>

        <section class="tea-slideshow">
    
            {% if page.show-placeholder %}
                <img src="/assets/img/orders/placeholder.jpg" alt="">
            {% endif %}

            {% for image in site.static_files %}
                {% if image.path contains page.order-id 
                    and image.path contains page.shorthand %}

                    {% unless image.basename == "thumb" 
                        or image.basename == "hover" %}
                        <div class="slide fade">
                            <a class="slideshow-prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="slideshow-next" onclick="plusSlides(1)">&#10095;</a>
                            
                            <img 
                                src="{{ site.baseurl }}{{ image.path }}" 
                                alt="{{ image.basename }}" />
            
                        </div>
                    {% endunless %}

                {% endif %}
            {% endfor %}
            
        </section>

        <section class="tea-summary">
            <p class="tea-summary">{{ page.content }}</p>
        </section>

    </section>

    {% if page.tags and page.tags.size != 0 %}
    <section class="tea-explanations">
        <header class="tea-explanations">
            <h3>Begriffserklärungen</h3>
        </header>
        {% for tag in page.tags %}
        {% assign term = site.explanations | where: 'tag', tag | first %}
        <p>
            <span class="glossary-term">{{ term.title }}:</span>
            <span class="glossary-explanation">{{ term.content }}</span>
        </p>
        {% endfor %}
    </section>
    {% endif %}

    <section class="tea-preparation">

        <table class="tea-details">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <thead>
                <tr id="tea-header" class="table-swap-inactive">
                    <th 
                        class="table-swap-active" 
                        id="tea-details-header" 
                        onclick="toggle('tea-details')" 
                        colspan="3">
                        Details
                    </th>
                    <th 
                        class="table-swap-inactive" 
                        id="tea-brewing-header" 
                        onclick="toggle('tea-brewing')" 
                        colspan="3">
                        Zubereitung
                    </th>
                    <th 
                        class="table-swap-inactive" 
                        id="tea-notes-header" 
                        onclick="toggle('tea-notes')" 
                        colspan="3">
                        Notizen
                    </th>
                </tr>
            </thead>
            <tbody id="tea-details">
                {% include tea/details.html %}
            </tbody>
            <tbody id="tea-brewing" hidden>
                {% include tea/brewing.html %}
            </tbody>
            <tbody id="tea-notes" hidden>
                {% include tea/notes.html %}
            </tbody>
        </table>

    </section>

</article>

<script src="/assets/js/toggleTableBody.js"></script>
<script src="/assets/js/slideshow.js"></script>