---
layout: default
---
<div class="tea">

  <section class="tea__overview">
  
    <nav class="tea__nav">
  
      {% assign order = site.orders | find: 'order-id', page.order-id %}
      {% assign teas = site.teas | where: 'order-id', page.order-id %}
      {% assign prev-key = page.key | plus: -1 | modulo: teas.size %}
      {% assign next-key = page.key | plus: 1 | modulo: teas.size %}
      {% assign prev = teas | find: 'key', prev-key %}
      {% assign next = teas | find: 'key', next-key %}
  
  
      <div class="tea__nav__order">
        <a href="{{ order.url }}">{{ order.title }}</a>
      </div>
  
      <div class="tea__nav__prev">
        <a href="{{ prev.url }}">&#8249; zurück</a>
      </div>
  
      <div class="tea__nav__next">
        <a href="{{ next.url }}">weiter &#8250;</a>
      </div>
  
    </nav>
    
    <header class="tea__header">
      <h1 class="tea__header__title">{{ page.title }}</h1>
      <span class="tea__header__subtitle">{{ page.type }}</span>
    </header>
  
    <div class="tea__images">
      <div class="slideshow">
  
      {% for image in site.static_files %}
      {% if image.path contains page.order-id  and image.path contains page.shorthand %}
    
        {% unless image.basename == "thumb" or image.basename == "hover" %}
          <div class="slide fade">
            <a class="slideshow-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="slideshow-next" onclick="plusSlides(1)">&#10095;</a>
            
            <img 
              src="{{ site.baseurl }}{{ image.path }}" 
              alt="{{ image.basename }}" />
    
          </div>
        {% endunless %}
    
      {% endif %}
      {% endfor %}
  
      </div>
    </div> 
  
    <div class="tea__description">
  
      <p class="tea__description__info">
        <span>{{ page.harvest }}</span>
        |
        <span><a class="dotted-link" href="{{ page.shop-url }}">{{ page.shop }}</a></span>
        |
        <span>{{ page.shared-amount }}</span>
        |
        <span>{{ page.price }}&hairsp;<sup>{{ page.currency }}</sup>/<sub>g</sub></span>
      </p>
  
      <p class="tea__description__text">
        {{ page.content }}
      </p>
  
    </div>
  
  </section>
  
  <div class="tea__help">

    {% if page.tags and page.tags.size != 0 %}
    <section class="tea__explanations">
    
      <header class="tea__subheader">
        <h2 class="tea__subheader__title">Erläuterungen</h2>
      </header>
    
      {% for tag in page.tags %}
      {% assign entry = site.glossary | find: 'tag', tag %}
      {% include glossary-entry.html %}
      {% endfor %}
    
    </section>
    {% endif %}
    
    <section class="tea__grid">
    
      <header class="tea__subheader">
        <h2 class="tea__subheader__title" id="details">Details</h2>
  
        <div class="tea__subheader__controls">
          <div class="toggle" title="Zeige Details">
            <div class="toggle__status" data-position="left"></div>
          </div>
        </div>

      </header>

      <div class="tea__details" data-visible="true">
        {% include tea/details.html %}
      </div>

      <div class="tea__brewing" data-visible="false">
        {% if page.gongfu-temperature or page.gongfu-amount or page.gongfu-times %}
        {% include tea/brewing.html %}
        {% else %}
        <p class="italic medium-gray">Muss noch ziehen.</p>
        {% endif %}
      </div>
    
    </section>

  </div>
  
  <section class="tea__grid">
    
    <header class="tea__subheader">
      <h2 class="tea__subheader__title">Berichte</h2>
    </header>
    
    {% assign reviews = site.data.reviews | where: 'order-id', page.order-id | where: 'shorthand', page.shorthand %}
    {% if reviews.size > 0 %}

    {% for review in reviews %}
    <div class="review">

      <div class="review__user">
        <img class="review__user__icon" src="/assets/img/users/gruenblatt.jpg">
        <span class="review__user__name">{{ review.user-name }}</span>
      </div>

      <div class="review__content">
        {% include tea/notes.html %}
      </div>

    </div>
    {% endfor %}

    {% else %}
    <p class="italic medium-gray">Noch kein Bericht vorhanden.</p>
    {% endif %}
    
  
  </section>

</div>

<script src="/assets/js/slideshow.js"></script>
<script src="/assets/js/accordion.js"></script>
<script src="/assets/js/toggle-details.js"></script>