article.article {
    margin: 2rem auto;
}

header.lead {
    padding: 1rem 0;
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    justify-content: center;

    h1 {
        position: absolute;
        text-align: center;
        top: calc(50% - (var(--fs-1000) / 2));
        line-height: var(--fs-1000);
        font-size: var(--fs-1000);
        text-align: center;
        color: $clr-light-gray;
        opacity: .8;
        font-weight: bold;
        user-select: none;
    }
}



p.article {
    margin: 0 auto;
    max-width: $p-max-width;
    padding: .5em 0;
}