header.main {
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a.logo:hover {
        text-decoration: none;
        background-image: $clr-tea-gradient;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    nav {
        a {
            display: inline-block;
            margin: 0 0.3rem;
        }

        a::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $clr-nav-link;
            transition: width .3s;
        }
        
        a.current::after {
            content: '';
            margin: 0 auto;
            display: block;
            width: 80%;
            height: 2px;
            background: $clr-nav-link;
        }
        
        a:hover::after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 80%;
            height: 2px;
            transition: width .3s;
        }
    }

    a.logo {
        color: $clr-dark-gray;
        font-weight: bold;
    }

    .logo:hover {
        background-image: $clr-tea-gradient;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    p:first-child {
        color: $clr-medium-gray;
        font-size: var(--fs-500);
    }

    p:last-child {
        font-size: var(--fs-600);
    }
    
    nav {
        padding-right: 1rem;
        font-size: var(--fs-400);
    }

    nav > a,
    nav > a:hover {
        color: $clr-nav-link;
    }
}

@media (min-width: $bp-2) {
    header {
        nav {
            margin-right: 5rem;
        }
    }
}