main {
    padding: 1rem .5rem;
}

a {
    text-decoration: none;
    color: $clr-link;
}

a:hover {
    color: $clr-link-hover;
}

a.green:hover {
    color: $clr-tea-green;
}

a.yellow-green:hover {
    color: $clr-tea-yellow-green;
}

a.yellow:hover {
    color: $clr-tea-yellow;
}

a.dark-yellow:hover {
    color: $clr-tea-dark-yellow;
}

a.orange:hover {
    color: $clr-tea-orange;
}

a.red:hover {
    color: $clr-tea-red;
}

.mouseover {
    text-decoration: underline dotted;
    cursor: help;
}