---
import '../styles/global.css'
import Logo from '../components/page/Logo.astro'
import Frame from '../components/page/Frame.astro'
import Header from '../components/page/Header.astro'
import Footer from '../components/page/Footer.jsx'

import favicon from '../assets/icons/favicon.svg'

const { title, navigation } = Astro.props
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <title>{ title }</title>
</head>
<body class="min-h-screen flex flex-col">
    <Header navigation={navigation} />
    <main class="flex-1">
        <slot />
    </main>
    <Frame bg="bg-black">
        <Footer client:load>
            <Logo mode="dark" />
        </Footer>
    </Frame>
</body>
</html>