---
import '../styles/global.css'
import Header from '../components/page/Header.astro'
import Footer from '../components/page/Footer.astro'

import favicon from '../assets/icons/favicon.svg'

const { title, size, navigation } = Astro.props
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <title>{ title }</title>
</head>
<body class={"bg-gray-50 min-h-screen flex flex-col"}>
    <Header navigation={navigation} size={size} />
    <main class="flex-1">
        <slot />
    </main>
    <Footer size={size} />
</body>
</html>